/* ==========================================================================
   #VARIABLES
   ========================================================================== */
/* ==========================================================================
   #MIXINS
   ========================================================================== */
/**
 * Clearfix
 */
/**
 * Typography
 */
/**
 * Media Queries.
 * 
 * 1. $bp2  =  480px 	(30rem)
 * 2. $bp3  =  600px 	(37.5rem)
 * 3. $bp4  =  768px 	(48rem)
 * 4. $bp5  =  1024px 	(64rem)
 * 5. $bp6  =  1220px 	(76.250rem)
 * 6. $bp7  =  1400px 	(87.5rem)
 */
@import url(https://fonts.googleapis.com/css?family=Cabin);
html, body, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

/* ==========================================================================
   #COLOUR
   ========================================================================== */
/**
 * Default anchor styling.
 */
a {
  border-bottom: 4px solid #b3eced;
  color: #2dbec1;
  text-decoration: none;
  transition: all .25s; }
  a:visited {
    color: #2dbec1; }
  a:hover {
    color: black;
    text-decoration: none; }
  a:focus {
    outline: thin dotted;
    color: black; }
  a:hover, a:active {
    outline: 0; }

/* ==========================================================================
   #BUTTONS
   ========================================================================== */
/**
 * Default styling for buttons. Extend this object with a `.btn--*` skin class
 * to change background-color, size or apply a relevant icon preceding the text.
 *
 * 1. Addtional `:before` styling is included for when an `icon` is required.
 * 2. Add a left margin when to any `.btn` that follows another.
 */
.btn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 4px solid #0d0f0f;
  border-radius: 0;
  box-sizing: border-box;
  color: #0d0f0f;
  cursor: pointer;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-family: "tablet-gothic-narrow", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 900;
  height: auto;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin-bottom: 20px;
  *margin-left: .3em;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all .25s;
  vertical-align: middle; }
  .btn:visited {
    background-color: transparent;
    color: #0d0f0f; }
  .btn:hover, .btn:focus {
    background-color: #0d0f0f;
    color: white;
    outline: 0; }
  .btn:active {
    top: 1px; }

/* ==========================================================================
   #HR
   ========================================================================== */
/**
 * Base `hr` styling.
 */
hr {
  border: 0;
  border-bottom: 8px solid #eef0f0;
  clear: both;
  display: block;
  height: 0;
  margin: 50px 0;
  padding: 0;
  width: 50px; }

/*------------------------------------*\
    IMAGES
   ========================================================================== */
/**
 * Base `img` styles.
 */
img {
  border-width: 0;
  vertical-align: middle;
  max-width: 100%;
  -ms-interpolation-mode: bicubic; }

img[width],
img[height] {
  max-width: none; }

/**
 * Add border to image.
 */
.img-stroke {
  border: 8px solid #eef0f0;
  box-sizing: border-box; }

/**
 * Alignment options.
 */
.img-left {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: auto; }

.img-right {
  float: right;
  margin-bottom: 20px;
  margin-left: 20px;
  width: auto; }

.img-center {
  display: block;
  width: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto; }

.img-left img,
.img-right img,
.img-center img {
  width: auto; }

/**
 * `figure` and `figcatpion` styles.
 */
figure {
  display: block;
  margin: 0 0 20px 0; }
  figure img {
    margin-bottom: 20px; }

figcaption {
  color: #b1b6b7;
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: none; }
  img + figcaption {
    margin-top: -10px; }
  .img-stroke + figcaption {
    padding: 0 8px; }

/* ==========================================================================
   #SITE
   ========================================================================== */
/**
 * Viewports.
 */
@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
/**
 * Base `html` styling.
 *
 * 1. Prevents content jumping when `.show-nav` is applied to `body` which is
 *    caused because `overflow: hidden;` is applied, which hides any scrollbar. 
 */
html {
  background: white;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: white;
  -webkit-text-size-adjust: 100%; }

/**
 * Base `body` styling.
 */
body {
  background-color: transparent;
  color: #727c7d;
  font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures;
  font-family: "tablet-gothic-narrow", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  /* [1] */
  /* [2] */
  /* [3] */
  /* [4] */
  /* [5] */
  /* [6] */ }
  @media (min-width: 48em) {
    body {
      font-size: 18px;
      font-size: 1.8rem; } }

/**
 * Putting touch-action: manipulation; on a clickable element makes WebKit
 * consider touches that begin on the element only for the purposes of panning 
 * and pinching to zoom. This means WebKit does not consider double-tap gestures
 * on the element, so single taps are dispatched immediately.
 */
a,
button,
input,
select,
textarea,
label,
summary {
  touch-action: manipulation; }

/* ==========================================================================
   #HEADINGS
   ========================================================================== */
/**
 * Base styling for heading elements.
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0d0f0f;
  font-family: "ff-good-headline-web-pro-con", "Helvetica Neue", sans-serif;
  font-weight: normal;
  line-height: .90;
  margin: 0 0 20px;
  text-transform: uppercase; }

h1 {
  font-size: 80px;
  font-size: 8rem;
  /* [1] */
  /* [2] */
  /* [3] */
  /* [4] */
  /* [5] */
  /* [6] */ }
  @media (min-width: 37.5em) {
    h1 {
      font-size: 100px;
      font-size: 10rem; } }

h2 {
  font-size: 60px;
  font-size: 6rem;
  /* [1] */
  /* [2] */
  /* [3] */
  /* [4] */
  /* [5] */
  /* [6] */ }
  @media (min-width: 37.5em) {
    h2 {
      font-size: 80px;
      font-size: 8rem; } }

h3 {
  font-size: 40px;
  font-size: 4rem;
  /* [1] */
  /* [2] */
  /* [3] */
  /* [4] */
  /* [5] */
  /* [6] */ }
  @media (min-width: 37.5em) {
    h3 {
      font-size: 60px;
      font-size: 6rem; } }

h4 {
  font-size: 20px;
  font-size: 2rem;
  /* [1] */
  /* [2] */
  /* [3] */
  /* [4] */
  /* [5] */
  /* [6] */ }
  @media (min-width: 37.5em) {
    h4 {
      font-size: 40px;
      font-size: 4rem; } }

/* ==========================================================================
   #LISTS
   ========================================================================== */
/**
 * Base list styles.
 */
ul,
ol {
  margin: 0 0 20px 0;
  padding: 0 0 0 20px;
  /* [1] */
  /* [2] */
  /* [3] */
  /* [4] */
  /* [5] */
  /* [6] */ }
  @media (min-width: 37.5em) {
    ul,
    ol {
      margin: 0 0 20px -22px; } }

li {
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 2.5px; }

li > ul,
li > ol {
  list-style-type: none;
  margin: 1.5rem 0 0 20px;
  padding: 0; }

/* ==========================================================================
   #TYPE MISC
   ========================================================================== */
/**
 * Highlighted styles.
 */
::-moz-selection {
  background-color: white;
  text-shadow: none; }

::selection {
  background-color: white;
  text-shadow: none; }

/**
 * Text-level.
 */
address {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 20px; }

abbr[title] {
  border-bottom: 1px dotted #eef0f0;
  cursor: help; }

.amp {
  font-family: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua"); }

dfn {
  font-style: italic; }

ins {
  background-color: white;
  color: #727c7d;
  text-decoration: none; }

mark {
  background-color: white;
  color: #727c7d;
  font-style: italic;
  font-weight: bold; }

/*
 * Strong (bold), emphasized (italic) and small text.
 */
b,
strong {
  font-weight: 700; }

i,
em {
  font-style: italic; }

small {
  font-size: .75em; }

/*
 * Class of `.amp` can be used to subtly darken/emphasize text.
 */
.amp {
  color: black; }

/*
 * Code.
 */
code {
  background-color: white;
  padding: .25em .5em;
  vertical-align: middle; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Superscript/subscript.
 */
sub,
sup {
  font-size: .75em;
  line-height: 0;
  position: relative; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

/* ==========================================================================
   #PARAGRAPHS
   ========================================================================== */
/**
 * Base paragraph styles.
 */
p {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 20px; }

/**
 * Classified paragraphs for lead, secondary, tertiary and milli statements.
 */
.lead {
  color: #b1b6b7;
  font-size: 20px;
  font-size: 2rem;
  /* [1] */
  /* [2] */
  /* [3] */
  /* [4] */
  /* [5] */
  /* [6] */ }
  @media (min-width: 48em) {
    .lead {
      font-size: 25px;
      font-size: 2.5rem;
      line-height: 1.4; } }

/* ==========================================================================
   #QUOTES
   ========================================================================== */
/**
 * Base quote styles.
 */
blockquote {
  color: #0d0f0f;
  font-style: italic;
  font-weight: 600;
  margin: 40px 20px;
  /* [1] */
  /* [2] */
  /* [3] */
  /* [4] */
  /* [5] */
  /* [6] */
  /* [1] */
  /* [2] */
  /* [3] */
  /* [4] */
  /* [5] */
  /* [6] */ }
  @media (min-width: 37.5em) {
    blockquote {
      margin: 40px 40px; } }
  @media (min-width: 64em) {
    blockquote {
      margin: 40px 60px; } }
  blockquote p {
    font-size: 40px;
    font-size: 4rem;
    font-style: italic;
    line-height: 1.4;
    /* [1] */
    /* [2] */
    /* [3] */
    /* [4] */
    /* [5] */
    /* [6] */ }
    @media (min-width: 48em) {
      blockquote p {
        font-size: 50px;
        font-size: 5rem; } }
  blockquote > p {
    position: relative;
    text-indent: 4px; }
    blockquote > p:first-child:before, blockquote > p:last-of-type:after {
      color: #2dbec1;
      content: "\201c";
      display: inline;
      font-size: 45px;
      font-family: "Georgia";
      font-style: normal;
      line-height: 0.1em;
      position: relative;
      top: 8px;
      left: -4px;
      text-indent: 0; }
    blockquote > p:last-of-type:after {
      content: "\201d";
      top: 12px;
      right: -4px;
      left: auto; }
  blockquote footer {
    font-size: 18px;
    font-size: 1.8rem;
    margin-top: -5px; }
    blockquote footer:before {
      background: #0d0f0f;
      content: "";
      display: inline-block;
      height: 2px;
      margin-right: 10px;
      position: relative;
      top: 10px;
      vertical-align: text-top;
      width: 10px; }
  blockquote small {
    font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    /* [1] */
    /* [2] */
    /* [3] */
    /* [4] */
    /* [5] */
    /* [6] */ }
    @media (min-width: 37.5em) {
      blockquote small {
        padding-left: 40px; } }
  blockquote cite {
    font-style: normal; }

/*------------------------------------*\
    #GRID
\*------------------------------------*/
/**
 * Used for grid layouts. Grid items must be contained in a `.layout` wrapper
 * with each 'column' having a class of `.layout__item`. Widths are set with
 * additional #WIDTHS classes.
 *
 * 1. On small screen devices every `.layout__item` is 100% wide so they all
 *    stack by default.
 * 2. Purely for Service page but it's the only place that used this layout (for
 *    now) so maybe need to come back to later. Maintains consistant spacing of
 *    content on smaller screens.
 */
.grid {
  margin-left: -100px; }
  .grid:before, .grid:after {
    content: "";
    display: table; }
  .grid:after {
    clear: both; }

.grid__item {
  box-sizing: border-box;
  float: left;
  padding-left: 100px;
  width: 100%;
  /* [1] */ }
  .grid__item.one-half + .one-half {
    /* [1] */
    margin-top: 40px;
    /* [1] */
    /* [2] */
    /* [3] */
    /* [4] */
    /* [5] */
    /* [6] */ }
    @media (min-width: 64em) {
      .grid__item.one-half + .one-half {
        margin-top: 0; } }

/*------------------------------------*\
    #WIDTHS
\*------------------------------------*/
/**
 * The design allows to stack `.layout__item`s on small screen devices, so the
 * first breakpoint they're used is 600px, up to 991px.
 *
 * 1. As this is still quite a narrow screen width, we set the `.one-quarter` 
 *    class to 50% so they appear in halves.
 * 2. ...unless `one-quarter` follows a `.three-quarters` item (blog post). Here
 *    we set the width to 100% so it stretches the width of the screen, matching
 *    the width of the `.three-quarter` item that precedes it.
 */
@media only screen and (min-width: 600px) and (max-width: 991px) {
  .one-quarter {
    width: 50%;
    /* [1] */ }
    .one-quarter:nth-child(odd) {
      clear: left; }

  .three-quarters + .one-quarter {
    width: 100%;
    /* [2] */ } }
/**
 * Above a screen width of 991px width classes use the value that reflects their
 * class name.
 */
/* [1] */
/* [2] */
/* [3] */
/* [4] */
/* [5] */
/* [6] */
@media (min-width: 64em) {
  .one-half,
  .two-quarters {
    width: 50%; }

  .one-third {
    width: 33.333%; }

  .two-thirds {
    width: 66.666%; }

  .one-quarter {
    width: 25%; }

  .three-quarters {
    width: 75%; } }
/* ==========================================================================
   #PAGE LOAD (pace.js)
   ========================================================================== */
/**
 * The `.page` div acts as a container for all the content on a page. Including
 * the header and footer.
 *
 * 1. We use flexbox to make `.page-foot` a sticky footer to keep it fixed to
 *    bottom of the page when there's not enough content to push it down.
 * 2. Using flexbox we set the height to 100% and also `box-sizing: border-box;`
 *    to compensate for the vertical padding.
 * 3. When pace.js is running we add `opacity` to the `body` element so we can
 *    fade the page in with a transition once it's loaded.
 * 4. Just incase Javascript doesn't load, we force `opacity: 1;` so content is
 *    still visible.
 */
.page {
  box-sizing: border-box;
  /* [3] */
  display: flex;
  /* [2] */
  flex-direction: column;
  /* [2] */
  min-height: 100vh;
  /* [3] */
  opacity: 0; }
  .pace-done .page {
    opacity: 1;
    /* [4] */
    transition: opacity .5s ease; }
  .no-js .page {
    opacity: 1 !important;
    /* [5] */ }

/* ==========================================================================
   #PAGE LOAD (pace.js)
   ========================================================================== */
/**
 * Pace.js is a plug-in that adds a progress indicator to your pages. We use a
 * basic bar that spans across the top of the browser, indicting the page load
 * progress, which disppears once it's done.
 */
.pace {
  pointer-events: none;
  user-select: none; }

.pace-progress {
  background: #2dbec1;
  height: 4px;
  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  z-index: 2000; }

/**
 * What happens when the bar isn't needed anymore.
 */
.pace-inactive .pace-progress {
  opacity: 0;
  transition: all .10s; }

/*
p {
  margin-top: 50px;
  font-family: "Cabin", sans-serif;
  letter-spacing: 12px;
  text-indent: 12px;
  color: $colorOutline;
  animation: 
    colorText $animDuration ease-out infinite,
    nudgeText $animDuration ease-out infinite;
}
*/
.mouse {
  background: #4e5559 linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
  position: relative;
  width: 25px;
  height: 45px;
  background-size: 100% 100%;
  border-radius: 100px;
  background-size: 225%;
  position: relative;
  z-index: 10;
  margin: 0 auto 40px;
  animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite; }
  .mouse:before, .mouse:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }
  .mouse:before {
    width: 21px;
    height: 41px;
    background-color: #0d0f0f;
    border-radius: 100px; }
  .mouse:after {
    background-color: #ffffff;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    animation: trackBallSlide 5s linear infinite; }

@keyframes colorSlide {
  0% {
    background-position: 0% 100%; }
  20% {
    background-position: 0% 0%; }
  21% {
    background-color: #4e5559; }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%; }
  30% {
    background-color: #4e5559;
    background-position: 0% 100%; }
  50% {
    background-position: 0% 0%; }
  51% {
    background-color: #4e5559; }
  59.99% {
    background-color: #ffffff;
    background-position: 0% 0%; }
  60% {
    background-color: #4e5559;
    background-position: 0% 100%; }
  80% {
    background-position: 0% 0%; }
  81% {
    background-color: #4e5559; }
  89.99%, 100% {
    background-color: #ffffff; } }
@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-10px); }
  6% {
    opacity: 1;
    transform: scale(0.9) translateY(2.5px); }
  14% {
    opacity: 0;
    transform: scale(0.5) translateY(20px); }
  15%, 19% {
    opacity: 0;
    transform: scale(0.5) translateY(-10px); }
  28%, 29.99% {
    opacity: 1;
    transform: scale(1) translateY(-10px); }
  30% {
    opacity: 1;
    transform: scale(1) translateY(-10px); }
  36% {
    opacity: 1;
    transform: scale(0.9) translateY(2.5px); }
  44% {
    opacity: 0;
    transform: scale(0.5) translateY(20px); }
  45%, 49% {
    opacity: 0;
    transform: scale(0.5) translateY(-10px); }
  58%, 59.99% {
    opacity: 1;
    transform: scale(1) translateY(-10px); }
  60% {
    opacity: 1;
    transform: scale(1) translateY(-10px); }
  66% {
    opacity: 1;
    transform: scale(0.9) translateY(2.5px); }
  74% {
    opacity: 0;
    transform: scale(0.5) translateY(20px); }
  75%, 79% {
    opacity: 0;
    transform: scale(0.5) translateY(-10px); }
  88%, 100% {
    opacity: 1;
    transform: scale(1) translateY(-10px); } }
@keyframes nudgeMouse {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(10px); }
  30% {
    transform: translateY(0); }
  50% {
    transform: translateY(10px); }
  60% {
    transform: translateY(0); }
  80% {
    transform: translateY(10px); }
  90% {
    transform: translateY(0); } }
@keyframes nudgeText {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(2px); }
  30% {
    transform: translateY(0); }
  50% {
    transform: translateY(2px); }
  60% {
    transform: translateY(0); }
  80% {
    transform: translateY(2px); }
  90% {
    transform: translateY(0); } }
@keyframes colorText {
  21% {
    color: #4e5559; }
  30% {
    color: #ffffff; }
  51% {
    color: #4e5559; }
  60% {
    color: #ffffff; }
  81% {
    color: #4e5559; }
  90% {
    color: #ffffff; } }
/* ==========================================================================
   #SITE-HEAD
   ========================================================================== */
.page-head {
  box-sizing: border-box;
  padding: 20px 20px;
  position: relative;
  z-index: 1000;
  width: 100%; }
  .page-head:before, .page-head:after {
    content: "";
    display: table; }
  .page-head:after {
    clear: both; }

.page-head__home-link {
  border: none;
  display: block;
  float: left;
  fill: white; }

.page-head__logo {
  height: 75px;
  transition: all .25s;
  width: 75px;
  /* [1] */
  /* [2] */
  /* [3] */
  /* [4] */
  /* [5] */
  /* [6] */ }
  @media (min-width: 48em) {
    .page-head__logo {
      height: 100px;
      width: 100px; } }

/* ==========================================================================
   #FOOTER
   ========================================================================== */
/* ==========================================================================
   #FOOTER
   ========================================================================== */
.band {
  width: 100%; }
  .masthead + .band {
    padding-top: 80px; }

.wrap {
  margin: 0 auto;
  padding: 40px 20px 20px;
  max-width: 1200px; }

.wrap--narrow {
  max-width: 900px; }

/* ==========================================================================
   #INDEX
   ========================================================================== */
.work--alt .work__item {
  float: left;
  width: 33.33333%; }
.work--alt .work__image-link {
  width: 100%; }
.work--alt .work__desc {
  display: none; }

.work--alt-2 {
  max-width: 1800px !important; }
  .work--alt-2 .work__item {
    float: left;
    width: 33.33333%; }
  .work--alt-2 .work__image-link {
    width: 100%; }
  .work--alt-2 .work__desc {
    display: none; }

.work {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%; }

.work__item {
  margin: 0 auto 20px;
  padding: 0;
  width: 100%;
  max-width: 600px;
  /* [1] */
  /* [2] */
  /* [3] */
  /* [4] */
  /* [5] */
  /* [6] */ }
  .work__item:before, .work__item:after {
    content: "";
    display: table; }
  .work__item:after {
    clear: both; }
  @media (min-width: 64em) {
    .work__item {
      display: flex;
      align-items: center;
      max-width: none; }
      .work__item:nth-child(even) {
        flex-direction: row-reverse; } }

.work__image-link {
  border: none;
  display: block;
  width: 100%;
  /* [1] */
  /* [2] */
  /* [3] */
  /* [4] */
  /* [5] */
  /* [6] */ }
  @media (min-width: 64em) {
    .work__image-link {
      width: 50%; } }

.work__image {
  display: block;
  width: 100%; }

.work__title a {
  border: none;
  color: #0d0f0f; }
  .work__title a:visited {
    color: #0d0f0f; }
  .work__title a:hover, .work__title a:focus {
    color: #2dbec1; }

.work__sub-title {
  font-size: 25px;
  font-size: 2.5rem; }

.work__desc {
  box-sizing: border-box;
  padding: 0 8.33333%;
  /* [1] */
  /* [2] */
  /* [3] */
  /* [4] */
  /* [5] */
  /* [6] */ }
  @media (min-width: 64em) {
    .work__desc {
      padding: 0 50px;
      width: 50%; } }

/* ==========================================================================
   #PROJECT DETAIL
   ========================================================================== */
/**
 * Base `.masthead` styles.
 */
.masthead {
  position: relative;
  width: 100%; }

.masthead__wrap {
  margin: 0 auto;
  position: relative;
  max-width: 900px;
  z-index: 100; }

.masthead__image {
  display: block;
  margin: 0 auto -100px; }

.masthead--home {
  background: #0d0f0f;
  color: #b1b6b7; }
  .masthead--home .masthead__wrap {
    padding: 20px 0 80px; }
  .masthead--home h1,
  .masthead--home h2,
  .masthead--home h3,
  .masthead--home h4 {
    color: white; }
  .masthead--home .lead {
    color: #eef0f0; }
  .masthead--home hr {
    border-color: #2dbec1; }

/**
 * Great British Meat Co.
 */
.masthead--gbm {
  background: #281e19 url(../img/interface/work/gbm/masthead-bg.jpg) 0 0; }

/**
 * BeatSuite.
 */
.masthead--beatsuite {
  background: #19aaf8 url(../img/interface/work/beatsuite/masthead-bg.jpg) no-repeat center center;
  background-size: cover; }

/**
 * Pokerstars.
 */
.masthead--pokerstars {
  background: black url(../img/interface/work/pokerstars/masthead-bg.jpg) repeat-x left top; }
  .masthead--pokerstars:before {
    background: url(../img/interface/work/pokerstars/spade.png) no-repeat 0 bottom;
    content: "";
    display: block;
    height: 475px;
    opacity: .04;
    position: absolute;
    bottom: -25px;
    left: 50%;
    margin-left: -850px;
    width: 510px; }

/**
 * OOBE.
 */
.masthead--oobe {
  background: #d8db2e url(../img/interface/work/oobe/masthead-bg.jpg) no-repeat center center;
  background-size: cover; }

/**
 * OCA
 */
.masthead--oca {
  background: url(../img/interface/work/oca/masthead-bottom-bg.png) repeat-x center bottom, url(../img/interface/work/oca/masthead-bg.jpg) center center, #c91922; }

/**
 * Dartmoor (Moor than meets the eye).
 */
.masthead--dartmoor {
  background: #3da0d3 url(../img/interface/work/dartmoor/masthead-bg.jpg) no-repeat center center;
  background-size: cover; }

/**
 * Dene.
 */
.masthead--dene {
  background: black url(../img/interface/work/dene/masthead-bg.png) 0 0; }

/**
 * Infinite Edge.
 */
.masthead--infinite-edge {
  background: white url(../img/interface/work/infinite-edge/masthead-bg.png) no-repeat center bottom;
  background-size: cover;
  /* [1] */
  /* [2] */
  /* [3] */
  /* [4] */
  /* [5] */
  /* [6] */ }
  @media (min-width: 48em) {
    .masthead--infinite-edge {
      background-size: inherit; } }

/**
 * Ferno.
 */
.masthead--ferno {
  background: url(../img/interface/work/ferno/gloss.png) no-repeat left top, linear-gradient(to bottom, #262626 0%, #060606 100%);
  background-size: contain;
  box-shadow: inset 0 -8px 0 0 #eb0c18, inset 0 -10px 0 0 white;
  /* [1] */
  /* [2] */
  /* [3] */
  /* [4] */
  /* [5] */
  /* [6] */ }
  @media (min-width: 64em) {
    .masthead--ferno {
      background-size: inherit; } }

/**
 * Education World.
 */
.masthead--edworld {
  background: url(../img/interface/work/education-world/masthead-bottom-bg.png) repeat-x center bottom, url(../img/interface/work/education-world/masthead-bg.png) center bottom, #66b6f3; }

/**
 * TTE.
 */
.masthead--tte {
  background: black url(../img/interface/work/tte/masthead-bg.jpg) no-repeat center 55%; }

/**
 * Simple Data.
 */
.masthead--simple-data {
  background: black url(../img/interface/work/simple-data/masthead-bg.jpg) center center;
  background-size: cover; }

@keyframes point {
  0% {
    transform: scale(0); }
  40% {
    transform: scale(1.2); }
  60% {
    transform: scale(0.9); }
  80% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0; }
  10% {
    transform: scale(1);
    opacity: .60; }
  50% {
    transform: scale(2);
    opacity: 0; }
  100% {
    transform: scale(0);
    opacity: 0; } }
@keyframes line {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
#animated-line {
  bottom: 20px;
  display: block;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 20px;
  position: absolute;
  z-index: 100;
  width: 100%;
  /* GRAPH */
  /* COORDINATE POINTS */
  /* CONTROL LAYER DELAY */ }
  #animated-line .inner {
    height: 300px;
    left: -8px;
    position: relative; }
  #animated-line [class*='line'] {
    width: 0; }
  #animated-line [class*='ball-container'] {
    height: 16px;
    position: absolute;
    width: 16px;
    z-index: 10; }
  #animated-line [class*="line"]:not([class*="line-box"]) {
    /* Cause easy selectors are too mainstream */
    -webkit-animation-name: line;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: line;
    /* Don't use "-moz-animation: line 1s linear forwards;" because that will override the -moz-animation-delay" */
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-fill-mode: forwards;
    -o-animation-name: line;
    -o-animation-duration: 1s;
    -o-animation-timing-function: linear;
    -o-animation-fill-mode: forwards;
    animation-name: line;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards; }
  #animated-line [class*="line"]:not([class*="line-box"]) {
    background: white;
    height: 4px;
    width: 0;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }
  #animated-line [class*="ball"]:not([class*="ball-container"]) {
    background-color: #0c5252;
    border: 4px solid white;
    border-radius: 100%;
    height: 8px;
    position: absolute;
    width: 8px;
    -webkit-transform: scale(0);
    -webkit-animation: point 0.4s linear forwards;
    -moz-transform: scale(0);
    -moz-animation: point 0.4s linear forwards;
    -o-transform: scale(0);
    -o-animation: point 0.4s linear forwards;
    transform: scale(0);
    animation: point 0.4s linear forwards; }
  #animated-line .pulse {
    border: 2px solid white;
    border-radius: 100%;
    height: 16px;
    margin-left: -2px;
    position: absolute;
    width: 16px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-animation: pulse 1s linear forwards;
    -moz-animation: pulse 1s linear forwards;
    -o-animation: pulse 1s linear forwards;
    animation: pulse 1s linear forwards; }
  #animated-line .ball-container0 {
    bottom: 100px;
    left: 0; }
  #animated-line .ball-container1 {
    bottom: 70px;
    left: 10%; }
  #animated-line .ball-container2 {
    bottom: 110px;
    left: 20%; }
  #animated-line .ball-container3 {
    bottom: 140px;
    left: 30%; }
  #animated-line .ball-container4 {
    bottom: 100px;
    left: 40%; }
  #animated-line .ball-container5 {
    bottom: 40px;
    left: 50%; }
  #animated-line .ball-container6 {
    bottom: 0px;
    left: 60%; }
  #animated-line .ball-container7 {
    bottom: 160px;
    left: 70%; }
  #animated-line .ball-container8 {
    bottom: 100px;
    left: 80%; }
  #animated-line .ball-container9 {
    bottom: 40px;
    left: 90%; }
  #animated-line .ball-container10 {
    bottom: 0;
    left: 100%; }
  #animated-line .pulse0 {
    bottom: 98px;
    left: 0; }
  #animated-line .pulse1 {
    bottom: 68px;
    left: 10%; }
  #animated-line .pulse2 {
    bottom: 108px;
    left: 20%; }
  #animated-line .pulse3 {
    bottom: 138px;
    left: 30%; }
  #animated-line .pulse4 {
    bottom: 98px;
    left: 40%; }
  #animated-line .pulse5 {
    bottom: 38px;
    left: 50%; }
  #animated-line .pulse6 {
    bottom: -2px;
    left: 60%; }
  #animated-line .pulse7 {
    bottom: 158px;
    left: 70%; }
  #animated-line .pulse8 {
    bottom: 98px;
    left: 80%; }
  #animated-line .pulse9 {
    bottom: 38px;
    left: 90%; }
  #animated-line .pulse10 {
    bottom: -2px;
    right: -18px; }
  #animated-line #layerBall0,
  #animated-line #layerPulse0 {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s; }
  #animated-line #layerBall1,
  #animated-line #layerPulse1 {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s; }
  #animated-line #layerBall2,
  #animated-line #layerPulse2 {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s; }
  #animated-line #layerBall3,
  #animated-line #layerPulse3 {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    animation-delay: 3s; }
  #animated-line #layerBall4,
  #animated-line #layerPulse4 {
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    animation-delay: 4s; }
  #animated-line #layerBall5,
  #animated-line #layerPulse5 {
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 5s; }
  #animated-line #layerBall6,
  #animated-line #layerPulse6 {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    animation-delay: 6s; }
  #animated-line #layerBall7,
  #animated-line #layerPulse7 {
    -webkit-animation-delay: 7s;
    -moz-animation-delay: 7s;
    -o-animation-delay: 7s;
    animation-delay: 7s; }
  #animated-line #layerBall8,
  #animated-line #layerPulse8 {
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    -o-animation-delay: 8s;
    animation-delay: 8s; }
  #animated-line #layerBall9,
  #animated-line #layerPulse9 {
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;
    -o-animation-delay: 9s;
    animation-delay: 9s; }
  #animated-line #layerBall10,
  #animated-line #layerPulse10 {
    -webkit-animation-delay: 10s;
    -moz-animation-delay: 10s;
    -o-animation-delay: 10s;
    animation-delay: 10s; }
  #animated-line .line0 {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s; }
  #animated-line .line1 {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s; }
  #animated-line .line2 {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s; }
  #animated-line .line3 {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    animation-delay: 3s; }
  #animated-line .line4 {
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    animation-delay: 4s; }
  #animated-line .line5 {
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 5s; }
  #animated-line .line6 {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    animation-delay: 6s; }
  #animated-line .line7 {
    -webkit-animation-delay: 7s;
    -moz-animation-delay: 7s;
    -o-animation-delay: 7s;
    animation-delay: 7s; }
  #animated-line .line8 {
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    -o-animation-delay: 8s;
    animation-delay: 8s; }
  #animated-line .line9 {
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;
    -o-animation-delay: 9s;
    animation-delay: 9s; }

/**
 * Slim Be
 */
.masthead--slim-be {
  background: url(../img/interface/work/slim-be/red-tile-gradient.jpg) repeat-x center bottom, url(../img/interface/work/slim-be/red-tile-light.jpg) center 0, #e41a37; }
  .masthead--slim-be:before {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
    content: "";
    display: block;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1; }
  .masthead--slim-be #masthead-svg {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0; }
    .masthead--slim-be #masthead-svg path {
      stroke-width: 8;
      stroke: #fdc625; }

/**
 * Metropolis.
 */
.masthead--metropolis {
  background: #404546; }

.metropallax {
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.metropallax__inner {
  height: 116%;
  min-height: 116%;
  position: relative;
  top: -8%;
  left: -8%;
  width: 116%; }

.metropallax__layer {
  height: 100%;
  min-height: 100%;
  width: 100%; }
  .metropallax__layer .skyline {
    height: 400px;
    position: absolute;
    bottom: -175px;
    left: 0;
    transition: all .25s;
    width: 100%;
    /* [1] */
    /* [2] */
    /* [3] */
    /* [4] */
    /* [5] */
    /* [6] */ }
    @media (min-width: 37.5em) {
      .metropallax__layer .skyline {
        bottom: 0; } }

.metropallax__layer--back {
  background: url(../img/interface/work/metropolis/masthead-bg.jpg) no-repeat center center;
  background-size: cover; }
  .metropallax__layer--back .skyline {
    background: url(../img/interface/work/metropolis/buildings-back.png) repeat-x center 0;
    opacity: .35; }
  .metropallax__layer--back:before {
    background: url(../img/interface/work/metropolis/zeppelin.png) no-repeat left top;
    content: "";
    display: block;
    height: 23px;
    opacity: .75;
    position: absolute;
    bottom: 400px;
    left: 50%;
    margin-left: -600px;
    width: 70px;
    z-index: 100;
    animation-name: zeppelin-bounce;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: none; }
  .metropallax__layer--back #smoke {
    display: block;
    height: 100%;
    min-height: 100%;
    left: 0;
    opacity: .35;
    position: absolute;
    top: 0;
    width: 100%; }

.metropallax__layer--mid .skyline {
  background: url(../img/interface/work/metropolis/buildings-mid.png) repeat-x center top; }
  .metropallax__layer--mid .skyline:before, .metropallax__layer--mid .skyline:after {
    background: url(../img/interface/work/metropolis/spotlight-1.png) no-repeat left bottom;
    content: "";
    display: block;
    height: 400px;
    margin-right: -580px;
    position: absolute;
    bottom: 300px;
    right: 50%;
    width: 60px;
    opacity: .50;
    z-index: -1;
    transform-origin: center bottom;
    animation-name: lights-right;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; }
  .metropallax__layer--mid .skyline:after {
    background-image: url(../img/interface/work/metropolis/spotlight-2.png);
    animation-duration: 20s;
    opacity: .25;
    margin-right: -600px;
    width: 100px; }

.metropallax__layer--front .skyline {
  background: url(../img/interface/work/metropolis/buildings-front.png) repeat-x center top; }
  .metropallax__layer--front .skyline:before, .metropallax__layer--front .skyline:after {
    background: url(../img/interface/work/metropolis/spotlight-1.png) no-repeat left bottom;
    content: "";
    display: block;
    height: 400px;
    margin-left: -660px;
    opacity: .50;
    position: absolute;
    bottom: 300px;
    left: 50%;
    width: 60px;
    z-index: -1;
    transform-origin: center bottom;
    animation-name: lights-left;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; }
  .metropallax__layer--front .skyline:after {
    background-image: url(../img/interface/work/metropolis/spotlight-2.png);
    margin-left: -680px;
    opacity: .25;
    width: 100px;
    animation-duration: 22s; }

@keyframes zeppelin {
  0% {
    left: 0; }
  100% {
    left: 100%; } }
@keyframes zeppelin-bounce {
  0% {
    transform: translateY(-4px); }
  50% {
    transform: translateY(4px); }
  100% {
    transform: translateY(-4px); } }
@keyframes lights-left {
  0% {
    transform: rotate(15deg); }
  20% {
    transform: rotate(30deg); }
  40% {
    transform: rotate(0deg); }
  60% {
    transform: rotate(15deg); }
  80% {
    transform: rotate(25deg); }
  100% {
    transform: rotate(15deg); } }
@keyframes lights-right {
  0% {
    transform: rotate(-15deg); }
  20% {
    transform: rotate(-30deg); }
  40% {
    transform: rotate(0deg); }
  60% {
    transform: rotate(-15deg); }
  80% {
    transform: rotate(-25deg); }
  100% {
    transform: rotate(-15deg); } }
