/* ==========================================================================
   #VARIABLES
   ========================================================================== */
/* ==========================================================================
   #MIXINS
   ========================================================================== */
/**
 * Clearfix
 */
/**
 * Typography
 */
/**
 * Media Queries.
 * 
 * 1. $bp2  =  480px 	(30rem)
 * 2. $bp3  =  600px 	(37.5rem)
 * 3. $bp4  =  768px 	(48rem)
 * 4. $bp5  =  1024px 	(64rem)
 * 5. $bp6  =  1220px 	(76.250rem)
 * 6. $bp7  =  1400px 	(87.5rem)
 */
html, body, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

/* ==========================================================================
   #COLOUR
   ========================================================================== */
/**
 * Default anchor styling.
 */
a {
  border-bottom: 4px solid #88eeee;
  color: #18acac;
  text-decoration: none;
  transition: all .25s; }
  a:visited {
    color: #18acac; }
  a:hover {
    color: black;
    text-decoration: none; }
  a:focus {
    outline: thin dotted;
    color: black; }
  a:hover, a:active {
    outline: 0; }

/* ==========================================================================
   #BUTTONS
   ========================================================================== */
/**
 * Default styling for buttons. Extend this object with a `.btn--*` skin class
 * to change background-color, size or apply a relevant icon preceding the text.
 *
 * 1. Addtional `:before` styling is included for when an `icon` is required.
 * 2. Add a left margin when to any `.btn` that follows another.
 */
.btn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 4px solid #0d0f0f;
  border-radius: 0;
  box-sizing: border-box;
  color: #0d0f0f;
  cursor: pointer;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-family: "tablet-gothic-narrow", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 900;
  height: auto;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin-bottom: 20px;
  *margin-left: .3em;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all .25s;
  vertical-align: middle; }
  .btn:visited {
    background-color: transparent;
    color: #0d0f0f; }
  .btn:hover, .btn:focus {
    background-color: #0d0f0f;
    color: white;
    outline: 0; }
  .btn:active {
    top: 1px; }

/* ==========================================================================
   #HR
   ========================================================================== */
/**
 * Base `hr` styling.
 */
hr {
  border: 0;
  border-bottom: 8px solid #eef0f0;
  clear: both;
  display: block;
  height: 0;
  margin: 50px 0;
  padding: 0;
  width: 50px; }

/*------------------------------------*\
    IMAGES
   ========================================================================== */
/**
 * Base `img` styles.
 */
img {
  border-width: 0;
  vertical-align: middle;
  max-width: 100%;
  -ms-interpolation-mode: bicubic; }

img[width],
img[height] {
  max-width: none; }

/**
 * Add border to image.
 */
.img-stroke {
  border: 8px solid #eef0f0;
  box-sizing: border-box; }

/**
 * Alignment options.
 */
.img-left {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: auto; }

.img-right {
  float: right;
  margin-bottom: 20px;
  margin-left: 20px;
  width: auto; }

.img-center {
  display: block;
  width: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto; }

.img-left img,
.img-right img,
.img-center img {
  width: auto; }

/**
 * `figure` and `figcatpion` styles.
 */
figure {
  display: block;
  margin: 0 0 20px 0; }
  figure img {
    margin-bottom: 20px; }

figcaption {
  color: #b1b6b7;
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: none; }
  img + figcaption {
    margin-top: -10px; }
  .img-stroke + figcaption {
    padding: 0 8px; }

/* ==========================================================================
   #SITE
   ========================================================================== */
/**
 * Viewports.
 */
@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
/**
 * Base `html` styling.
 *
 * 1. Prevents content jumping when `.show-nav` is applied to `body` which is
 *    caused because `overflow: hidden;` is applied, which hides any scrollbar. 
 */
html {
  background: white;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: white;
  -webkit-text-size-adjust: 100%; }

/**
 * Base `body` styling.
 */
body {
  background-color: transparent;
  color: #727c7d;
  font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures;
  font-family: "tablet-gothic-narrow", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  /* [1] */
  /* [2] */
  /* [3] */
  /* [4] */
  /* [5] */
  /* [6] */ }
  @media (min-width: 48em) {
    body {
      font-size: 18px;
      font-size: 1.8rem; } }

/**
 * Putting touch-action: manipulation; on a clickable element makes WebKit
 * consider touches that begin on the element only for the purposes of panning 
 * and pinching to zoom. This means WebKit does not consider double-tap gestures
 * on the element, so single taps are dispatched immediately.
 */
a,
button,
input,
select,
textarea,
label,
summary {
  touch-action: manipulation; }

/* ==========================================================================
   #HEADINGS
   ========================================================================== */
/**
 * Base styling for heading elements.
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0d0f0f;
  font-family: "ff-good-headline-web-pro-con", "Helvetica Neue", sans-serif;
  font-weight: normal;
  line-height: .95;
  margin: 0 0 20px;
  text-transform: uppercase; }

h1 {
  font-size: 90px;
  font-size: 9rem;
  /* [1] */
  /* [2] */
  /* [3] */
  /* [4] */
  /* [5] */
  /* [6] */ }
  @media (min-width: 48em) {
    h1 {
      font-size: 100px;
      font-size: 10rem; } }

h2 {
  font-size: 65px;
  font-size: 6.5rem;
  /* [1] */
  /* [2] */
  /* [3] */
  /* [4] */
  /* [5] */
  /* [6] */ }
  @media (min-width: 48em) {
    h2 {
      font-size: 75px;
      font-size: 7.5rem; } }

h3 {
  font-size: 40px;
  font-size: 4rem;
  /* [1] */
  /* [2] */
  /* [3] */
  /* [4] */
  /* [5] */
  /* [6] */ }
  @media (min-width: 48em) {
    h3 {
      font-size: 50px;
      font-size: 5rem; } }

h4 {
  font-size: 15px;
  font-size: 1.5rem;
  /* [1] */
  /* [2] */
  /* [3] */
  /* [4] */
  /* [5] */
  /* [6] */ }
  @media (min-width: 48em) {
    h4 {
      font-size: 25px;
      font-size: 2.5rem; } }

/* ==========================================================================
   #LISTS
   ========================================================================== */
/**
 * Base list styles.
 */
ul,
ol {
  margin: 0 0 20px 0;
  padding: 0 0 0 20px;
  /* [1] */
  /* [2] */
  /* [3] */
  /* [4] */
  /* [5] */
  /* [6] */ }
  @media (min-width: 37.5em) {
    ul,
    ol {
      margin: 0 0 20px -22px; } }

li {
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 2.5px; }

li > ul,
li > ol {
  list-style-type: none;
  margin: 1.5rem 0 0 20px;
  padding: 0; }

/* ==========================================================================
   #TYPE MISC
   ========================================================================== */
/**
 * Highlighted styles.
 */
::-moz-selection {
  background-color: white;
  text-shadow: none; }

::selection {
  background-color: white;
  text-shadow: none; }

/**
 * Text-level.
 */
address {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 20px; }

abbr[title] {
  border-bottom: 1px dotted #eef0f0;
  cursor: help; }

.amp {
  font-family: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua"); }

dfn {
  font-style: italic; }

ins {
  background-color: white;
  color: #727c7d;
  text-decoration: none; }

mark {
  background-color: white;
  color: #727c7d;
  font-style: italic;
  font-weight: bold; }

/*
 * Strong (bold), emphasized (italic) and small text.
 */
b,
strong {
  font-weight: 700; }

i,
em {
  font-style: italic; }

small {
  font-size: .75em; }

/*
 * Class of `.amp` can be used to subtly darken/emphasize text.
 */
.amp {
  color: black; }

/*
 * Code.
 */
code {
  background-color: white;
  padding: .25em .5em;
  vertical-align: middle; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Superscript/subscript.
 */
sub,
sup {
  font-size: .75em;
  line-height: 0;
  position: relative; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

/* ==========================================================================
   #PARAGRAPHS
   ========================================================================== */
/**
 * Base paragraph styles.
 */
p {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 20px; }

/**
 * Classified paragraphs for lead, secondary, tertiary and milli statements.
 */
.lead {
  color: #b1b6b7;
  font-size: 20px;
  font-size: 2rem;
  /* [1] */
  /* [2] */
  /* [3] */
  /* [4] */
  /* [5] */
  /* [6] */ }
  @media (min-width: 48em) {
    .lead {
      font-size: 25px;
      font-size: 2.5rem;
      line-height: 1.4; } }

/* ==========================================================================
   #QUOTES
   ========================================================================== */
/**
 * Base quote styles.
 */
blockquote {
  color: #0d0f0f;
  font-style: italic;
  font-weight: 600;
  margin: 40px 20px;
  /* [1] */
  /* [2] */
  /* [3] */
  /* [4] */
  /* [5] */
  /* [6] */
  /* [1] */
  /* [2] */
  /* [3] */
  /* [4] */
  /* [5] */
  /* [6] */ }
  @media (min-width: 37.5em) {
    blockquote {
      margin: 40px 40px; } }
  @media (min-width: 64em) {
    blockquote {
      margin: 40px 60px; } }
  blockquote p {
    font-size: 40px;
    font-size: 4rem;
    font-style: italic;
    line-height: 1.4;
    /* [1] */
    /* [2] */
    /* [3] */
    /* [4] */
    /* [5] */
    /* [6] */ }
    @media (min-width: 48em) {
      blockquote p {
        font-size: 50px;
        font-size: 5rem; } }
  blockquote > p {
    position: relative;
    text-indent: 4px; }
    blockquote > p:first-child:before, blockquote > p:last-of-type:after {
      color: #18acac;
      content: "\201c";
      display: inline;
      font-size: 45px;
      font-family: "Georgia";
      font-style: normal;
      line-height: 0.1em;
      position: relative;
      top: 8px;
      left: -4px;
      text-indent: 0; }
    blockquote > p:last-of-type:after {
      content: "\201d";
      top: 12px;
      right: -4px;
      left: auto; }
  blockquote footer {
    font-size: 18px;
    font-size: 1.8rem;
    margin-top: -5px; }
    blockquote footer:before {
      background: #0d0f0f;
      content: "";
      display: inline-block;
      height: 2px;
      margin-right: 10px;
      position: relative;
      top: 10px;
      vertical-align: text-top;
      width: 10px; }
  blockquote small {
    font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    /* [1] */
    /* [2] */
    /* [3] */
    /* [4] */
    /* [5] */
    /* [6] */ }
    @media (min-width: 37.5em) {
      blockquote small {
        padding-left: 40px; } }
  blockquote cite {
    font-style: normal; }

/*------------------------------------*\
    #GRID
\*------------------------------------*/
/**
 * Used for grid layouts. Grid items must be contained in a `.layout` wrapper
 * with each 'column' having a class of `.layout__item`. Widths are set with
 * additional #WIDTHS classes.
 *
 * 1. On small screen devices every `.layout__item` is 100% wide so they all
 *    stack by default.
 * 2. Purely for Service page but it's the only place that used this layout (for
 *    now) so maybe need to come back to later. Maintains consistant spacing of
 *    content on smaller screens.
 */
.grid {
  margin-left: -100px; }
  .grid:before, .grid:after {
    content: "";
    display: table; }
  .grid:after {
    clear: both; }

.grid__item {
  box-sizing: border-box;
  float: left;
  padding-left: 100px;
  width: 100%;
  /* [1] */ }
  .grid__item.one-half + .one-half {
    /* [1] */
    margin-top: 40px;
    /* [1] */
    /* [2] */
    /* [3] */
    /* [4] */
    /* [5] */
    /* [6] */ }
    @media (min-width: 64em) {
      .grid__item.one-half + .one-half {
        margin-top: 0; } }

/*------------------------------------*\
    #WIDTHS
\*------------------------------------*/
/**
 * The design allows to stack `.layout__item`s on small screen devices, so the
 * first breakpoint they're used is 600px, up to 991px.
 *
 * 1. As this is still quite a narrow screen width, we set the `.one-quarter` 
 *    class to 50% so they appear in halves.
 * 2. ...unless `one-quarter` follows a `.three-quarters` item (blog post). Here
 *    we set the width to 100% so it stretches the width of the screen, matching
 *    the width of the `.three-quarter` item that precedes it.
 */
@media only screen and (min-width: 600px) and (max-width: 991px) {
  .one-quarter {
    width: 50%;
    /* [1] */ }
    .one-quarter:nth-child(odd) {
      clear: left; }

  .three-quarters + .one-quarter {
    width: 100%;
    /* [2] */ } }
/**
 * Above a screen width of 991px width classes use the value that reflects their
 * class name.
 */
/* [1] */
/* [2] */
/* [3] */
/* [4] */
/* [5] */
/* [6] */
@media (min-width: 64em) {
  .one-half,
  .two-quarters {
    width: 50%; }

  .one-third {
    width: 33.333%; }

  .two-thirds {
    width: 66.666%; }

  .one-quarter {
    width: 25%; }

  .three-quarters {
    width: 75%; } }
/* ==========================================================================
   #PAGE LOAD (pace.js)
   ========================================================================== */
/**
 * The `.page` div acts as a container for all the content on a page. Including
 * the header and footer.
 *
 * 1. We use flexbox to make `.page-foot` a sticky footer to keep it fixed to
 *    bottom of the page when there's not enough content to push it down.
 * 2. Using flexbox we set the height to 100% and also `box-sizing: border-box;`
 *    to compensate for the vertical padding.
 * 3. When pace.js is running we add `opacity` to the `body` element so we can
 *    fade the page in with a transition once it's loaded.
 * 4. Just incase Javascript doesn't load, we force `opacity: 1;` so content is
 *    still visible.
 */
.page {
  box-sizing: border-box;
  /* [3] */
  display: flex;
  /* [2] */
  flex-direction: column;
  /* [2] */
  min-height: 100vh;
  /* [3] */
  opacity: 0; }
  .pace-done .page {
    opacity: 1;
    /* [4] */
    transition: opacity .5s ease; }
  .no-js .page {
    opacity: 1 !important;
    /* [5] */ }

/* ==========================================================================
   #PAGE LOAD (pace.js)
   ========================================================================== */
/**
 * Pace.js is a plug-in that adds a progress indicator to your pages. We use a
 * basic bar that spans across the top of the browser, indicting the page load
 * progress, which disppears once it's done.
 */
.pace {
  pointer-events: none;
  user-select: none; }

.pace-progress {
  background: #18acac;
  height: 4px;
  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  z-index: 2000; }

/**
 * What happens when the bar isn't needed anymore.
 */
.pace-inactive .pace-progress {
  opacity: 0;
  transition: all .10s; }

/* ==========================================================================
   #SITE-HEAD
   ========================================================================== */
.page-head {
  box-sizing: border-box;
  padding: 20px 20px;
  position: relative;
  z-index: 1000;
  width: 100%; }
  .page-head:before, .page-head:after {
    content: "";
    display: table; }
  .page-head:after {
    clear: both; }

.page-head__home-link {
  border: none;
  display: block;
  float: left; }

/* ==========================================================================
   #FOOTER
   ========================================================================== */
/* ==========================================================================
   #FOOTER
   ========================================================================== */
.band {
  width: 100%; }
  .masthead + .band {
    padding-top: 120px; }

.wrap {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px; }

.wrap--narrow {
  max-width: 900px; }

/* ==========================================================================
   #INDEX
   ========================================================================== */
.work {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px; }

.work__item {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 600px;
  /* [1] */
  /* [2] */
  /* [3] */
  /* [4] */
  /* [5] */
  /* [6] */ }
  .work__item:before, .work__item:after {
    content: "";
    display: table; }
  .work__item:after {
    clear: both; }
  @media (min-width: 64em) {
    .work__item {
      display: flex;
      align-items: center;
      max-width: none; } }

.work__image-link {
  border: none;
  display: block;
  width: 100%;
  /* [1] */
  /* [2] */
  /* [3] */
  /* [4] */
  /* [5] */
  /* [6] */ }
  @media (min-width: 64em) {
    .work__image-link {
      width: 50%; } }

.work__image {
  display: block;
  width: 100%; }

.work__title a {
  border: none;
  color: #0d0f0f; }
  .work__title a:visited {
    color: #0d0f0f; }
  .work__title a:hover, .work__title a:focus {
    color: #18acac; }

.work__desc {
  box-sizing: border-box;
  padding: 0 8.33333%;
  /* [1] */
  /* [2] */
  /* [3] */
  /* [4] */
  /* [5] */
  /* [6] */ }
  @media (min-width: 64em) {
    .work__desc {
      padding: 0 50px;
      width: 50%; } }

/* ==========================================================================
   #PROJECT DETAIL
   ========================================================================== */
/**
 * Base `.masthead` styles.
 */
.masthead {
  position: relative;
  width: 100%; }

.masthead__wrap {
  margin: 0 auto;
  position: relative;
  max-width: 900px;
  z-index: 100; }

.masthead__image {
  display: block;
  margin: 0 auto -100px; }

/**
 * Great British Meat Co.
 */
.masthead--gbm {
  background: #281e19 url(../img/interface/work/gbm/masthead-bg.jpg) 0 0; }

/**
 * BeatSuite
 */
.masthead--beatsuite {
  background: #19aaf8 url(../img/interface/work/beatsuite/masthead-bg.jpg) no-repeat center center;
  background-size: cover; }

/**
 * Pokerstars
 */
.masthead--pokerstars {
  background: black url(../img/interface/work/pokerstars/masthead-bg.jpg) repeat-x left top; }
  .masthead--pokerstars:before {
    background: url(../img/interface/work/pokerstars/spade.png) no-repeat 0 bottom;
    content: "";
    display: block;
    height: 475px;
    opacity: .05;
    position: absolute;
    bottom: -25px;
    left: 50%;
    margin-left: -850px;
    width: 510px; }

/**
 * OOBE
 */
.masthead--oobe {
  background: #d8db2e url(../img/interface/work/oobe/masthead-bg.jpg) no-repeat center center;
  background-size: cover; }

/**
 * OCA
 */
.masthead--oca {
  background: #c91922; }

/**
 * Dartmoor (Moor than meets the eye)
 */
.masthead--dartmoor {
  background: #3da0d3 url(../img/interface/work/dartmoor/masthead-bg.jpg) no-repeat center center;
  background-size: cover; }

/**
 * Metropolis
 */
.masthead--metropolis {
  background: #404546; }

.metropallax {
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.metropallax__inner {
  height: 116%;
  min-height: 116%;
  position: relative;
  top: -8%;
  left: -8%;
  width: 116%; }

.metropallax__layer {
  height: 100%;
  min-height: 100%;
  width: 100%; }
  .metropallax__layer .skyline {
    height: 400px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }

.metropallax__layer--back {
  background: url(../img/interface/work/metropolis/masthead-bg.jpg) no-repeat center center;
  background-size: cover; }
  .metropallax__layer--back .skyline {
    background: url(../img/interface/work/metropolis/buildings-back.png) repeat-x center 0;
    opacity: .35; }
  .metropallax__layer--back:before {
    background: url(../img/interface/work/metropolis/zeppelin.png) no-repeat left top;
    content: "";
    display: block;
    height: 23px;
    opacity: .75;
    position: absolute;
    bottom: 400px;
    left: 50%;
    margin-left: -600px;
    width: 70px;
    z-index: 100;
    animation-name: zeppelin-bounce;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: none; }
  .metropallax__layer--back #smoke {
    display: block;
    height: 100%;
    min-height: 100%;
    left: 0;
    opacity: .35;
    position: absolute;
    top: 0;
    width: 100%; }

.metropallax__layer--mid .skyline {
  background: url(../img/interface/work/metropolis/buildings-mid.png) repeat-x center top; }
  .metropallax__layer--mid .skyline:before, .metropallax__layer--mid .skyline:after {
    background: url(../img/interface/work/metropolis/spotlight-1.png) no-repeat left bottom;
    content: "";
    display: block;
    height: 400px;
    margin-right: -580px;
    position: absolute;
    bottom: 300px;
    right: 50%;
    width: 60px;
    opacity: .50;
    z-index: -1;
    transform-origin: center bottom;
    animation-name: lights-right;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; }
  .metropallax__layer--mid .skyline:after {
    background-image: url(../img/interface/work/metropolis/spotlight-2.png);
    animation-duration: 20s;
    opacity: .25;
    margin-right: -600px;
    width: 100px; }

.metropallax__layer--front .skyline {
  background: url(../img/interface/work/metropolis/buildings-front.png) repeat-x center top; }
  .metropallax__layer--front .skyline:before, .metropallax__layer--front .skyline:after {
    background: url(../img/interface/work/metropolis/spotlight-1.png) no-repeat left bottom;
    content: "";
    display: block;
    height: 400px;
    margin-left: -660px;
    opacity: .50;
    position: absolute;
    bottom: 300px;
    left: 50%;
    width: 60px;
    z-index: -1;
    transform-origin: center bottom;
    animation-name: lights-left;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; }
  .metropallax__layer--front .skyline:after {
    background-image: url(../img/interface/work/metropolis/spotlight-2.png);
    margin-left: -680px;
    opacity: .25;
    width: 100px;
    animation-duration: 22s; }

@keyframes zeppelin {
  0% {
    left: 0; }
  100% {
    left: 100%; } }
@keyframes zeppelin-bounce {
  0% {
    transform: translateY(-4px); }
  50% {
    transform: translateY(4px); }
  100% {
    transform: translateY(-4px); } }
@keyframes lights-left {
  0% {
    -webkit-transform: rotate(15deg); }
  20% {
    -webkit-transform: rotate(30deg); }
  40% {
    -webkit-transform: rotate(0deg); }
  60% {
    -webkit-transform: rotate(15deg); }
  80% {
    -webkit-transform: rotate(25deg); }
  100% {
    -webkit-transform: rotate(15deg); } }
@keyframes lights-right {
  0% {
    -webkit-transform: rotate(-15deg); }
  20% {
    -webkit-transform: rotate(-30deg); }
  40% {
    -webkit-transform: rotate(0deg); }
  60% {
    -webkit-transform: rotate(-15deg); }
  80% {
    -webkit-transform: rotate(-25deg); }
  100% {
    -webkit-transform: rotate(-15deg); } }
