
// SYSTEM  ================================================

$debug-mode						: false;
$debug-color-error				: red;
$debug-color-warning			: yellow;
$debug-outline-width			: 5px;
$debug-outline-style			: solid;





// COLOUR  ================================================

$black 							: rgb(0,0,0);
$white 							: rgb(255,255,255);

$grey-darker					: rgb(14,16,16);
$grey-dark						: rgb(66,75,75);
$grey							: rgb(119,133,134);
$grey-light						: rgb(179,188,188);
$grey-lighter					: rgb(239,241,241);

$color-primary 					: rgb(45,190,193); 





// BASICS  ================================================

$body-background 				: $white;
$vertical-spacing				: 20px;
$gutter		 					: 20px;
$max-width						: 90.000rem;
$MQs							: true;





// TYPOGRAPHY  ================================================

// Base

$font-size 						: 17;
$font-family 					: "Droid Sans", "Helvetica Neue", sans-serif;
$font-color 					: $grey;
$font-lineheight 				: 1.5;
$font-weight 					: 400;

// Alt

$alt-font-family 				: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
$alt-font-color 				: inherit;
$alt-font-lineheight 			: $font-lineheight;
$alt-font-weight 				: 400;

// Extra type variables

$amp-font-family 				: local('Georgia'), local('Garamond'), local('Palatino'), local('Book Antiqua');
$codefont-font-family			: Monaco, Courier New, monospace;

// Headings

$heading-font-color 			: $grey-darker;
$heading-font-family 			: "Good Pro", "Helvetica Neue", sans-serif;
$heading-font-style 			: normal;
$heading-font-weight 			: 900;
$heading-lineheight				: $font-lineheight;





// Links  ================================================

$link-color 		    		: $color-primary;
$link-color-hover 				: $black;
$link-color-visited   			: $link-color;
$link-color-focus 				: $link-color-hover;

$base-bg						: $white;





// TEXTURE  ================================================

$border-color    				: $grey-lighter;
$border-style					: solid;
$border-width 					: 8px;
$border-radius 					: 2px;
$border							: $border-width $border-style $border-color;





// 320 AND UP  ================================================

// Buttons

$button-bg 								: transparent;
$button-border-color					: $grey-darker;
$button-border-style 					: $border-style;
$button-border-width 					: $border-width / 4;
$button-border-radius 					: $border-radius;

$button-font-family						: $font-family;
$button-font-size 						: $font-size;
$button-font-color 						: $grey-darker;
$button-font-weight 					: 700;
$button-letter-spacing					: 0.02em;
$button-font-transform 					: none;

$button-bg-hover 						: $grey-darker;
$button-border-color-hover				: $grey-darker;
$button-font-color-hover 				: $white;


// Images

$figcaption-font-family			: $font-family;
$figcaption-font-size			: 1.6rem;
$figcaption-font-style			: normal;
$figcaption-font-weight			: 600;
$figcaption-text-transform		: none;


// Misc.

$transition-duration			: .25s;
$transition-timing-function		: ease;






