
/* ==========================================================================
   #FOOTER
   ========================================================================== */

/**
 * Website footer.
 */
 
.page-foot {
	box-sizing: border-box;
	border-top: $border;
	padding-top: ($vertical-spacing * 2);
	width: 100%;
	
	@include bp(bp5) {
		padding: ($vertical-spacing * 3) ($gutter / 2) 0;
	}
	
	p {
		@include font-size(12);
	}
	
	ul {
		@include font-size(12);
		padding-left: 0;
	}
	
	li {
		background: none;
		padding-left: 0;
	}
	
	a {
		background-image: none;
		color: $font-color;
		font-weight: 400;
		padding: 0;
		text-shadow: none;
		
		&:visited {
			color: $font-color;
		}
		
		&:hover,
		&:focus {
			color: $grey-darker;
		}
	}
}

.page-foot__title {
	@include font-size(12);
	
	@include bp(bp5) {
		@include font-size(14);
	}
}

.page-foot__logo {
	display: block;
	margin: 0 auto $vertical-spacing;
	opacity: .25;
	max-width: 150px;
	
	@include bp(bp3) {
		margin-top: $vertical-spacing / 2;
	}
}



.page-foot__item {
	@include clearfix;
	margin-bottom: $vertical-spacing;
}

.page-foot__sub-item {
	box-sizing: border-box;
	padding: 0 ($gutter / 2);
}

.page-foot__item--about {
	clear: both;
	width: 100%;
	
	@include bp(bp5) {
		float: left;
		width: 50%;
	}
	
	.affiliates {
		margin-top: (-$vertical-spacing / 2);
	}
	
	.page-foot__sub-item {
		width: 100%;
		
		@include bp(bp3) {
			float: left;
		}
	}
			
	.page-foot__sub-item--logo {
		
		@include bp(bp3) {
			width: 25%;
		}
		
		@include bp(bp5) {
			width: 35%;
		}
	}
			
	.page-foot__sub-item--text {
		
		@include bp(bp3) {
			width: 75%;
		}
		
		@include bp(bp5) {
			padding-right: $gutter;
			width: 65%;
		}		
	}
}


.page-foot__item--links,
.page-foot__item--contact {
	clear: both;
	width: 100%;
	
	@include bp(bp3) {
		clear: none;
		float: left;
		width: 50%;
	}
	
	@include bp(bp5) {
		width: 25%;
	}
	
	.page-foot__sub-item {
		float: left;
		width: 50%;
	}
}

.page-foot__item--contact {
	
	.page-foot__sub-item {
		
		@include bp(bp5) {
			float: none;
			width: 100%;
		}
		
		@include bp(bp7) {
			float: left;
			width: 50%;
		}	
	}
}




/**
 * Copyright + terms/privacy links at bottom of the page.
 */

.page-foot__legal {
	border-top: $border;
	@include font-size(10);
	clear: both;
	margin: 0 0 0 (-$gutter / 2);
	padding: ($vertical-spacing / 2) ($gutter / 2);
	text-align: center;
	width: 100%;
	
	@include bp(bp5) {
		@include font-size(11);
		padding: ($vertical-spacing /2) $gutter;
		text-align: left;
	}
	
	li {
		background: none;
		display: inline-block;
		margin: 0 ($gutter / 4);
		padding-left: 0;
		
		&:before {
			color: darken($grey-lighter,15%);
			content: "/";
			margin-right: ($gutter / 2);
		}
		
		&.copyright {
			display: block;
		}
		
		@include bp(bp5) {
			margin: 0 ($gutter / 2) 0 0;
			
			&.copyright {
				display: inline-block;
			}
		}
	}
	
	a {
		background-image: none;
		color: $grey;
		font-weight: 400;
		padding: 0;
		text-shadow: none;
		
		&:visited {
			color: $grey;
		}
		
		&:hover,
		&:focus {
			color: $grey-darker;
		}
	}
}