
/* ==========================================================================
   #TESTIMONIALS
   ========================================================================== */

/**
 * A `.testimonial` contains a blockquote and an image.
 *
 * 1. The quote and image are aligned horizontally.
 */

.testimonial {
	display: flex; /* [1] */
	align-items: center; /* [1] */
}

/**
 * 1. Transitions are added to so the quote fades/slides into and out of view.
 */

.testimonial__quote {
	padding: 0;
	text-align: right;
	
	@include bp(bp5) {
		opacity: 0; /* [1] */
		transition: all .10s 0s; /* [1] */
		transform: translate(-90px,0); /* [1] */
		width: 50%;
		
		.slick-active & {
			opacity: 1; /* [1] */
			transition: all .20s .75s; /* [1] */
			transform: translate(0,0); /* [1] */
		}
	}
}

/**
 * The image alongside the quote should be of the person the quote is attributed
 * to.
 *
 * 1. The image is hidden on smaller devices and only displayed when there is
 *    enough room for it to be aligned horizontally with the blockquote.
 * 2. Transitions are added to so the image fades/slides into and out of view.
 */
 
.testimonial__image {
	display: none; /* [1] */
	
	@include bp(bp5) {
		display: block; /* [1] */
		margin: 0 auto ($vertical-spacing * 2);
		opacity: 0; /* [2] */
		position: relative;
		transition: all .10s .10s; /* [2] */
		transform: translate(90px, 0); /* [2] */
		width: 50%;
		max-width: 500px;
		
		.slick-active & {
			opacity: 1; /* [2] */
			transition: all .20s .60s; /* [2] */
			transform: translate(0,0); /* [2] */
		}
	}
}

/**
 * For images that require no margins. For example cutouts of people so they can
 * align with the bottom of the container. Don't think this is going to be easy
 * for the client to maintain though so have added a margin to the 'default'
 * image styling and made this the exception.
 */
 
.testimonial__image--flush {
	margin-bottom: 0;
}
