
/*------------------------------------*\
    #RESORTS
\*------------------------------------*/

/**
 * A form used to gather details so they can be called back at a suitable time.
 */

.band--resorts {
	background: url(../img/interface/bg-sand-meets-the-sea.jpg) no-repeat center bottom;
	background-size: cover;
	
	.hgroup__title {
		color: $white;
	}
	
	.hgroup__lead {
		color: $color-primary-lighter;
	}
}

.resort-list {
	@include clearfix;
}

.resort-list__item {
	width: 100%;
	
	@include bp(bp3) {
		float: left;
		width: 50%;
	}
	
	@include bp(bp5) {
		width: 33.33333%;
	}
}

.resort {
	background: $white;
	position: relative;
	text-align: center;
	transition: all .15s;
	
	.slick-slide & {
		box-shadow: 0 0 15px rgba($black,.30);
		margin: $vertical-spacing 0;
	}
	
	.slick-center & {
		transform: scale(1.05);
		z-index: 10;
	}
	
	p {
		line-height: 1.4;
	}
	
	.btn {
		-webkit-backface-visibility: hidden;
	}
}

.resort__image {
	background-image: none;
	display: block;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-shadow: none;
	
	img {
		margin: 0;
		transition: all .15s;
		
		.resort:hover & {
			transform: scale(1.10);
		}
	}
}

.resort__wrap {
	padding: $vertical-spacing $gutter 0;
}

.resort__subtitle {
	color: $color-primary;
	@include font-size(14);
	margin-bottom: $vertical-spacing / 6;
	
	@include bp(bp5) {
		@include font-size(16);
	}
}

.resort__title {
	
	a {
		background-image: none;
		font-weight: 900;
		padding: 0;
		text-shadow: none;
	}
}

