
/* ==========================================================================
   #CALLBACK
   ========================================================================== */

/**
 * The form to request a callback.
 *
 * 1. Set `height` on the `textarea` so it is the same height of two `input`
 *    elements and their margins.
 * 2. Adjust `.btn` padding so it matches the height of the `input`s.
 */

.callback {
	@include clearfix;
	margin: 0 auto;
	max-width: 890px;
	
	@include bp(bp5) {
		
		textarea {
			height: 97px;
			resize: none;
		}
		
		.btn {
			padding: 8px $gutter;
		}
	}
}

/**
 * Specific styling of the number below the form.
 *
 * 1. Overwrite default `a` styles.
 */
 
.callback__number {
	@include font-size(16);
	padding-top: $vertical-spacing;
	text-align: center;
	
	a {
		background-image: none;
		letter-spacing: -.03em;
		padding: 0;
		text-shadow: none;
	}
}
