
/* ==========================================================================
   #INFOBAR
   ========================================================================== */
   
/**
 * Small bar placed at the top of the website showing contact details and links
 * to social accounts.
 *
 * 1. Contact + social account details.
 * 2. Contact specific rules.
 * 3. Social accounts (icons) specific rules.
 */
 
.infobar {
	@include clearfix;
	background: $white;
	border-bottom: $border;
	box-sizing: border-box;
	padding: 10px ($gutter / 2) 8px;
	width: 100%;
	
	@include bp(bp5) {
		padding: 10px $gutter 8px;
	}
	
	.contact,
	.social { /* [1] */
		@include font-size(12);
		line-height: 1.3;
		margin: 0;
		padding: 0;
		
		.icon {
			fill: $grey-light;
		}
	}
	
	.contact { /* [2] */
		float: left;
		
		li {
			display: inline-block;
			margin: 0 ($gutter / 2) 0 0;
			
			@include bp(bp5) {
				margin: 0 ($gutter / 2) 0 0;
			}
		}
		
		a {
			color: $grey;
			
			&:visited {
				color: $grey;
				
				.icon {
					fill: $grey-light;
				}
			}
			
			&:focus,
			&:hover {
				color: $grey-darker;
				
				.icon {
					fill: $grey-darker;
				}
			}
		}
	}

	.social { /* [3] */
		float: right;
		
		.icon {
			
			&:hover {
				fill: $grey-darker;
			}
		}
	}
}





/* ==========================================================================
   #HEADER
   ========================================================================== */

/**
 * The main header of the website. Containing logo and the main navigation. The
 * navigation (`.site-nav`) is extended in `_layout-nav.scss`.
 */

.page-head {
	background: $white;
	box-sizing: border-box;
	@include clearfix;
	padding: ($vertical-spacing / 2) ($gutter / 2);
	position: relative;
	width: 100%;
	
	@include bp(bp5) {
		padding: 0 $gutter;
	}
}

.page-head__logo {
	background-image: none;
	float: left;
	padding: 0;
	text-shadow: none;
	width: 200px;
	
	@include bp(bp5) {
		margin-top: $vertical-spacing;
	}
}





/* ==========================================================================
   #TOGGLE
   ========================================================================== */

/**
 * Toggle that shows/hides the navigation list.
 *
 * 1. Toggle container has a larger hit area than the icon suggests.
 * 2. Hide toggle on wider viewports.
 * 3. Remove `:focus` styling.
 * 4. Styling of the middle line of menu icon.
 * 5. Styling for top and bottom lines.
 * 6. Bottom line specific styling.
 */

.page-head__toggle { /* [1] */
	background-image: none;
	border-bottom: none;
	cursor: pointer;
	display: block;
	height: 50px;
	float: right;
	padding: 0;
	position: absolute;
	top: 0;
	right: 5px;
	text-indent: -9999px;
	text-shadow: none;
	transition: all .25s ease-in;
	width: 50px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	user-select: none;
	z-index: 9999999999999;
	
	@include bp(bp5) { /* [2] */
		display: none;
	}
	
	&:focus {
		outline: none; /* [3] */
	}
	
	span { /* [4] */
		background: $color-primary;
		display: block;
		height: 5px;
		position: absolute;
		top: 23px;
		right: 10px;
		left: 10px;
		transition: background .20s .05s; // Not sure why but .05s delay looks better.
		
		&:before,
		&:after { /* [5] */
			background: $color-primary;
			content: "";
			display: block;
			height: 5px;
			position: absolute;
			top: -8px;
			left: 0;
			transition-duration: .20s, .20s, .20s;
			transition-delay: .80s, .20s, 0s;
			transition-property: background, top, transform;
			width: 100%;	
		}
		
		&:after { /* [6] */
			top: auto;
			bottom: -8px;
			transition-property: background, bottom, transform;
		}
	}
}

/**
 * Styling of the toggle once navigation is visible.
 *
 * 1. Instantly hide middle line.
 * 2. Change colour and transitition delay. First value is `background-color`,
 *    the next is position (0s for sharper transition) and the last is for the
 *    actual `transform`.
 * 3. Adjust position of top/bottom lines to form an 'x' shape.
 */

.show-nav {
	
	.page-head__toggle span {
		background: none; /* [1] */
		transition: background .10s .10s;
	}
	
	.page-head__toggle span:before,
	.page-head__toggle span:after { /* [2] */
		background: $grey-darker;
		transition-delay: .10s, 0s, .20s;
	}
	
	.page-head__toggle span:before { /* [3] */
		top: 0;
		transform: rotate(45deg);
	}
	
	.page-head__toggle span:after { /* [3] */
		bottom: 0;
		transform: rotate(-45deg);
	}
}

/**
 * A class is added to the `body` when the navigation is in the process of
 * closing. This helps us with some suitble styling adjustments...
 *
 * 1. Set the `background-color` to match top/bottom lines.
 * 2. Add delay to transition so middle line is only shown once there's space
 *    for it, once the top/bottom lines are in position.
 */

.hide-nav {
	
	.page-head__toggle span {
		background: $grey-darker; /* [1] */
		transition: background .10s .20s;
	}
}
