
/*------------------------------------*\
    #FORMS
\*------------------------------------*/

/**
 * iAchieve apps are static HTML so only basic form elements are required and
 * are mainly used for styling + javascript quiz elements.
 *
 * Forms should always be placed within a content block with a white background
 * for example `.boxout`. Alternatively a `fieldset` can be used which uses
 * similar styling without the larger spacing/margins of a `.boxout` element.
 * 
 * 1. Increased margin-left on `.btn {}` as margin collapses once floated. This
 *    is due to it's inline-block display setting.
 * 2. Overwrite `.btn + .btn {}` default margin to match [1].
 */

form {
	@include clearfix;
	margin: 0;

	.btn {
		float: right;
		margin-left: $baseline/2; /* [1] */
	}
	
	.btn + btn {
		margin-left: $baseline/2; /* [2] */
	}
}

/**
 * `fieldset {}` with text colour resets needed for white background.
 */
	
fieldset {
	background: $white;
	border-width: 0;
	border-radius: 8px;
	box-shadow: inset -3px -3px 0 rgba($black,.05), 3px 3px rgba($black,.05);
	box-sizing: border-box;
	color: $grey-li;
	margin: 0 0 $baseline;
	padding: $baseline $baseline 0;
	text-shadow: none;
	width: 100%;
	*width: auto;
	
	h1,
	h2,
	h3,
	h4 {
		color: $grey-dar;
		
		+ p {
			margin-top: -$baseline/2;
		}
	}
	
	strong {
		color: inherit;
	}
}


/**
 * Base form element styling.
 */

label,
input,
button,
select,
textarea {
	@include font-size(16);
	vertical-align : baseline;
	*vertical-align : middle;
}


/**
 * label's are used as titles for the form elements that follow them.
 * An asterisk is used with a class of `required` for mandatory fields.
 */

label {
	color: $grey-dar;
	display: block;
	font-weight: 400;
	margin-bottom: $baseline/2;
}

.required {
	color: $color-primary;
	font-weight: 700;
}


/**
 * Default input styling.
 *
 * `select`, `checkbox` & `radio` inputs are replaced using uniform.js to allow
 * custom styling. These 'new' elements are extended in _uniform.scss. However,
 * when javascript is disabled they're extended here with a class of `.no-js {}`
 * if required.
 */

input,
textarea,
select {
	box-sizing: border-box;
	font-family: $font-family;
	@include font-size(16);
	margin-bottom: $baseline;
}

/**
 * Default textfield & textarea styling.
 *
 * 1. Removes default iOS input shadow.
 * 2. Textfield/areas have a default width of 100% but we have some handy preset
 *    classes that can be applied to set fixed (smaller) widths.
 */

textarea,
input[type="text"] {
	background: $input-bg;
	box-shadow: inset 3px 3px 0 $input-shadow;
	border: $input-border-width $input-border-style $input-border;
	border-radius: 4px;
	box-sizing: border-box;
	color: $input-color;
	display: inline-block;
	font-family: $font-family;
	height: 40px;
	@include font-size(16);
	line-height: 36px;
	padding: 0 $baseline/2;
	transition: border-color .25s;
	width: 100%;
	-webkit-appearance:none;  /* [1] */

	&:hover {
		border-color: $input-hover;
	}	
	
	&:focus {
		border-color: $input-focus;
		outline: 0;
		outline: thin dotted \9;
	}
	
	&.input-mini 	{width: 80px;}	/* [2] */
	&.input-small	{width: 120px;} /* [2] */
}

textarea {
	height: auto;
	line-height: normal;
	overflow: auto;
	padding: $baseline/2;
	resize: vertical;
	vertical-align: top;
}

/**
 * Text input placeholder styling.
 */

::-webkit-input-placeholder {
	color: $placeholder-color;
	@include font-size(16);
	font-style: italic;
}

::-moz-placeholder {
	color: $placeholder-color;
	@include font-size(16);
	font-style: italic;
}


/**
 * Default `select` styling. Extended in _uniform.scss.
 */
 
select {
	width: 100%;
}


/**
 * Default `checkbox` & `radio` styling. Extended in _uniform.scss.
 *
 * 1. Styling when javascript is disabled is extended within `.no-js {}`.
 */

.radiobtn,
.checkbox {
	color: $grey-l;
	margin-bottom: $baseline;
	
	+ .radiobtn,
	+ .checkbox {
		margin-top: -$baseline/2;
	}
	
	.no-js & { /* [1] */
		font-weight: normal;
		padding-left: 20px;
		
		input[type="radio"],
		input[type="checkbox"] {
			float: left;
			margin: 6px 0 0 -20px;
		}
		
		input[type="checkbox"] {
			margin-top: 7px;
		}
	}
}

