
/*------------------------------------*\
    #BOXOUT
\*------------------------------------*/

/**
 * Used to boxout content from the page using a white background.
 *
 * 1. When used within an element that already has a white background set, for
 *    example flexslider/fanxybox/ui-tabs the colour is changed to a light grey.
 * 2. Added extra margin to `ul` and `ol` elements if they are a direct last
 *    child. It makes spacing look more even as they're indented.
 *
 * Due to the contrast in background-color, headings, text, quotes and other
 * element colours need to be adjusted accordinly. These are extended in the
 * #OVERWRITES section at the foot of this .scss file as they also need to be
 * changed for fancybox overlays, flexsliders and tabbed content as well.
 */

.boxout {
	background-color: $white;
	border-radius: 8px;
	box-shadow: inset -3px -3px 0 rgba($black,.05), 3px 3px rgba($black,.05);
	@include clearfix;
	margin: $baseline*2 0 $baseline*2;
	padding: $baseline $baseline 0;
	position: relative;
	
	&:last-child {
		margin-bottom: $baseline;
	}
	
	> ul:last-child,
	> ol:last-child {
		margin-bottom: $baseline*2; /* [2] */
	}
	
	.boxout &,
	.flexslider &,
	.fancybox-inner &,
	.ui-tabs-panel & { /* [1] */
		background-color: lighten($grey-lite,2%);
		box-shadow: none;
		border-radius: 4px;
		margin: 0 0 $baseline;
	}
}

/**
 * Icon's can be displayed alongside a `boxout` title. They can be added using
 * one of the classes listed below. The majority of the time these will be on
 * `h2` titles but I have resized the icons just incase they're ever applied to
 * `h3` titles as well.
 */

.assessment__title,
.handy-hint__title,
.think-first__title,
.did-you-know__title,
.key-point__title,
.exam__title {
	margin-bottom: $baseline;
	padding-left: 50px;
	
	&:before {
		background: $heading-icon-bg url(../img/sprite/title-icons.png) no-repeat 0 0;
		border-radius: 100%;
		box-shadow: inset -3px -3px 0 darken($heading-icon-bg,2.5%);
		content: "";
		display: inline-block;
		height: 40px;
		margin: 0 10px 0 -50px;
		position: relative;
		top: 7px;
		width: 40px;
	}
}

.did-you-know__title:before 	{background-position: 0 0;}
.key-point__title:before 		{background-position: 0 -40px;}
.think-first__title:before		{background-position: 0 -80px;}
//.exam__title:before 			{background-position: 0 -120px;}
.exam__title:before 			{background-position: 0 -160px;}
.assessment__title:before 		{background-position: 0 -200px;}
.handy-hint__title:before 		{background-position: 0 -240px;}

/**
 * `h3` versions of the titles with icons.
 */

h3.assessment__title,
h3.handy-hint__title,
h3.think-first__title,
h3.did-you-know__title,
h3.key-point__title,
h3.exam__title {
	padding-left: 40px;
	
	&:before {
		background-size: 30px 210px;
		height: 30px;
		margin-left: -40px;
		top: 6px;
		width: 30px;
	}
}

h3.did-you-know__title:before 	{background-position: 0 0;}
h3.key-point__title:before 		{background-position: 0 -30px;}
h3.think-first__title:before	{background-position: 0 -60px;}
//h3.exam__title:before 		{background-position: 0 -90px;}
h3.exam__title:before 			{background-position: 0 -120px;}
h3.assessment__title:before 	{background-position: 0 -150px;}
h3.handy-hint__title:before 	{background-position: 0 -180px;}


/**
 * `.boxout-clear` is used when content needs a bit more space/padding but does
 * not have the background colour of the standard `.boxout`. Also the typography
 * within it's colour is not adjusted. Would normally but this as a modifier
 * class but don't want to need to overwrite all inherited `.boxout` styles.
 */
 
.boxout-clear {
	background-color: transparent;
	@include clearfix;
	margin: $baseline 0;
	padding: $baseline $baseline 0;
	position: relative;
	
	&:last-child {
		margin-bottom: $baseline;
	}
}





/*------------------------------------*\
    #OVERWRITES
\*------------------------------------*/

/**
 * When certain content is placed within an element with a white/lighter
 * background, background/border/colors need to adapt for visual and legibility
 * reasons. So we amend heading, text, quote and table styling.
 */

.boxout,
.flexslider,
.fancybox-inner,
.ui-tabs-panel {
	color: $grey-l;
	text-shadow: none;
	
	// Links
	
	a:hover,
	a:focus {
		color: $grey-da;
	}
	
	// Headings
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $grey-da;
	}
	
	// Text
	
	strong {
		color: inherit;
	}

	p,
	ul,
	ol {
		
		strong {
			color: $grey;
		}
	}
	
	// Definition lists
	
	dt {
		color: $grey-da;
	}
	
	// Blockquote
	
	blockquote {
		color: inherit;
		
		> p {
			
			&:first-child:before,
			&:last-of-type:after  {
				color: $grey-da;
			}
		}
		
		footer {
			color: $grey-da;
		}
	}
	
		
	// Buttons
	
	.btn {
		
		&:hover,
		&:focus {
			color: $button-color;
		}
	}
	
	
	// Table
	
	th {
		color: $grey-da;
	}
	
	th,
	td {
		border-color: $grey-lite;
	}
	
	// Table (bordered)
	
	.table-bordered {
		border-color: $grey-lite;
		
		th,
		td {
			border-left-color: $grey-lite;
		}
	}
	
	// Table (striped)
		
	.table-striped {
		
		tbody tr:nth-child(odd) td,
		tbody tr:nth-child(odd) th {
			background-color: $grey-lite;
		}
	}
	
	// Table (solid)
	
	.table-solid {
		color: $grey;
		
		th,
		td {
			border-color: $white;
		}
		
		tbody td,
		tbody th {
			background-color: $grey-lite;
			
			&.has-rip {
				background-image: url(../img/interface/zig-zag-alt.png);
			}
		}
	}
}

