/*------------------------------------*\
  #ACCORDION
\*------------------------------------*/


.alert {
	background: $alert-bg;
	border: $border-width $border-style $alert-border-color;
	box-sizing: border-box;
	clear: both;
	@include clearfix;
	color: $alert-font-color;
	@include font-size($alert-font-size);
	margin-bottom: $vertical-spacing;
	padding: $vertical-spacing / 2 $gutter / 2 0;
	
	p {
		margin-bottom: $vertical-spacing / 2;
	}
	
	a {
		color: $white;
		text-shadow: 3px 0 $alert-bg, 2px 0 $alert-bg, 1px 0 $alert-bg, -3px 0 $alert-bg, -2px 0 $alert-bg, -1px 0 $alert-bg;
		
		&:visited {
			color: $white;
		}
		
		&:hover,
		&:focus {
			color: $white;
		}
	}
}

.alert--success {
	background: $alert-success-bg;
	border-color: $alert-success-border-color;
	color: $alert-success-font-color;
	
	a {
		//background-image: linear-gradient($grey-darker 0%, $grey-darker 100%);
		color: $white;
		text-shadow: 3px 0 $alert-success-bg, 2px 0 $alert-success-bg, 1px 0 $alert-success-bg, -3px 0 $alert-success-bg, -2px 0 $alert-success-bg, -1px 0 $alert-success-bg;
	}
}

.alert--error {
	background: $alert-error-bg;
	border-color: $alert-error-border-color;
	color: $alert-error-font-color;
	
	a {
		//background-image: linear-gradient($grey-darker 0%, $grey-darker 100%);
		color: $white;
		text-shadow: 3px 0 $alert-error-bg, 2px 0 $alert-error-bg, 1px 0 $alert-error-bg, -3px 0 $alert-error-bg, -2px 0 $alert-error-bg, -1px 0 $alert-error-bg;
	}
}


.alert__close {
	background-image: none;
	float: right;
	line-height: 0;
	margin: 0;
	padding: 0;
	text-shadow: none;
	transform-origin: center;
	
	.icon {
		fill: lighten($alert-bg,15%);
		
		.alert--success & {
			fill: darken($alert-success-bg,15%);
		}
		
		.alert--error & {
			fill: darken($alert-error-bg,15%);
		}
	}
	
	&:hover,
	&:focus {
		transform: rotate(90deg);
		
		.icon {
			fill: $white;
			opacity: 1;
		}
	}	
}

.alert__title {
	color: $white;
	@include font-size($alert-heading-font-size);
	margin-bottom: $vertical-spacing / 4;
	
	&:last-child {
		margin-bottom: $vertical-spacing / 2;
	}
	
	.icon {
		fill: $white;
		margin-right: $gutter / 4;
		position: relative;
		top: -1px;
	}
}