
/* ==========================================================================
   #FEATURES
   ========================================================================== */

/**
 * Features/service panel. Each item has an icon, title and short text entry.
 *
 * 1. The number of items can change from 5 - 6, so I've set flex-direction to
 *    'row' on desktop (when the items are in a row) so the items will always be
 *    spaced evenly.
 * 2. Need to overwrite `align-items` so the icons are vertically aligned to the
 *    top of the container.
 */

.features {
	@include clearfix;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
	
	@include bp(bp4) {
		display: block;
		margin-left: -$gutter;
	}
	
	@include bp(bp5) {
		margin-left: 0;
		display: flex; /* [1] */
		flex-direction: row; /* [1] */
		align-items: flex-start; /* [2] */
	}
}

/**
 * The wrapper for each featured item that contains an icon, title and short
 * sentence.
 *
 * 1. I've removed the width, which was always 20% as there were always 5 items
 *    but now that can change and we've added `flex-direction: row;` to the
 *    parent div we shouldn't need it.
 * 2. Make items have equal widths. If not applied they'll be uneven.
 * 
 */

.features__item {
	background: none;
	box-sizing: border-box;
	@include clearfix;
	margin: 0;
	padding: 0 0 0 65px;
	width: 100%;
	max-width: 500px;
	
	@include bp(bp4) {
		float: left;
		padding: 0 0 0 95px;
		width: 50%;
		max-width: none;
		
		&:nth-child(odd) {
			clear: left;
		}
	}
	
	@include bp(bp5) {
		flex-grow: 1; /* [2] */
		flex-basis: 0; /* [2] */
		text-align: center;
		padding: 0 $gutter / 2;
		width: auto; /* [1] */
		
		&:nth-child(odd) {
			clear: none;
		}
	}
}


.features__icon-wrap {
	background-color: $color-primary-light;
	background-image: url(../img/interface/noise.png), linear-gradient(rgba($color-primary,0) 0%, $color-primary 100%);
	border-radius: 100%;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	margin: 0 0 $vertical-spacing -65px;
	float: left;
	text-align: center;
	width: 50px;
	
	.icon {
		fill: $white;
		height: 25px;
		width: 25px;
	}
	
	@include bp(bp5) {
		float: none;
		margin-left: 0;
		height: 100px;
		line-height: 100px;
		width: 100px;
		
		.icon {
			height: 50px;
			width: 50px;
		}
	}
}

.features__title {
	@include font-size(14);
	margin-bottom: $vertical-spacing / 4;
	
	@include bp(bp5) {
		@include font-size(16);
	}
}

.features__text {
	@include font-size(13);
	line-height: 1.4;
}