
/*------------------------------------*\
    #CALLBACK
\*------------------------------------*/

/**
 * A form used to gather details so they can be called back at a suitable time.
 */

.band--callback {
	background: url(../img/interface/bg-palmtree-and-loungers--large.jpg) no-repeat left bottom;
	background-size: cover;
}

.callback {
	@include clearfix;
	margin: 0 auto;
	max-width: 890px;
	
	@include bp(bp5) {
		
		textarea {
			height: 97px;
			resize: none;
		}
		
		.btn {
			padding: 5px $gutter;
		}
	}
}

.callback__number {
	color: lighten($font-color,10%);
	@include font-size(16);
	padding-top: $vertical-spacing;
	text-align: center;
	
	a {
		background-image: none;
		letter-spacing: -.03em;
		padding: 0;
		text-shadow: none;
	}
}