/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0 0 $vertical-spacing;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}


.slick-dots {
	line-height: 10px;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
	
	li {
		background: none;
		display: inline-block;
		margin: 0 2px;
		padding: 0;
	}
	
	button {
		background: $grey-light;
		border: none;
		border-radius: 100%;
		cursor: pointer;
		display: block;
		height: 10px;
		outline: 0;
		overflow: hidden;
		padding: 0;
		text-indent: -9999px;
		transition: all .15s;
		width: 10px;
		
		&:hover {
			background: $grey-darker;
		}
	}
	
	.slick-active button {
		background: $color-primary;
		cursor: default;
	}
}


.slick-disabled {
	opacity: .15;
}
