
/* ==========================================================================
   #RANGE SLIDER
   ========================================================================== */

/**
 * `.rangeslider` is a jQuery polyfill for range inputs. The performance of the
 * plugin is better than the browser default. It doesn't jump as much and works
 * a lot smoother.
 */

.rangeslider {
	background: $border-color;
	display: block;
	margin: 10px 0 $vertical-spacing / 2;
	position: relative;
	height: 5px;
	width: 100%;
	
	&.rangeslider--disabled {
		opacity: .30;
	}
}

/**
 * The area of the 'track' that is active, showing what is selected.
 */

.rangeslider__fill {
	background: $color-primary url(../img/interface/noise.png) 0 0;
	display: block;
	position: absolute;
	top: 0;
	height: 100%;
}

/**
 * The handle used to drag the slide up.
 */

.rangeslider__handle {
	background-color: $color-primary-light;
	background-image: url(../img/interface/noise.png), linear-gradient(rgba($color-primary-light,0) 0%, $color-primary-dark 100%);
	border-radius: 100%;
	border: 4px solid $white;
	box-shadow: 0 1px 4px rgba($black, .30);
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	height: 30px;
	position: absolute;
	top: -14px;
	width: 30px;
	touch-action: pan-y;
	-ms-touch-action: pan-y;
}

/**
 * The value of where the slider current is, displayed below the range slider.
 */

.input-slider-value {
	color: $grey-darker;
	margin-top: -$vertical-spacing / 4;
}
