/*------------------------------------*\
  #ACCORDION
\*------------------------------------*/

.accordion {
	margin: -$vertical-spacing / 4 0 $vertical-spacing;
	overflow: hidden;
	text-align: left;
	
	h1 + &,
	h2 + &,
	h3 + &,
	h4 + & {
		margin-top: $vertical-spacing / 3;
	}
}

.accordion__item {
	overflow: hidden;
	border-bottom: 1px solid $input-border-color;
}

.accordion__title {
	cursor: pointer;
	display: block;
	font-weight: 700;
	margin: 0 !important;
	padding: $gutter / 4 $gutter $gutter / 4 0;
	position: relative;
	-webkit-transition: all 0.15s;
	transition: all 0.15s;
}

.accordion__title-icon {
	position: absolute;
	display: block;
	float: right;
	height: 13px;
	width: 13px;
	right: 0;
	top: 12px;
}

.accordion__title-icon:before,
.accordion__title-icon:after {
	background: $grey-light;
	content: "";
	line-height: 0;
	font-size: 0;
	position: absolute;
	-webkit-transition: all .20s ease-in;
	transition: all .20s ease-in;
}

.accordion__title-icon:before {
	height: 100%;
	top: 0;
	left: 6px;
	width: 1px;
}

.accordion__title-icon:after {
	height: 1px;
	top: 6px;
	left: 0;
	width: 100%;  
}

// .accordion__title:hover .accordion__title-icon:before,
.accordion__title.open .accordion__title-icon:before{
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

// .accordion__title:hover .accordion__title-icon:after,
.accordion__title.open .accordion__title-icon:after{
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.accordion__copy {
	display: none;
	padding: 0 0 $vertical-spacing / 2;
  
	*:last-child {
		margin-bottom: 0;
	}
}

.accordion__copy p {
	margin: 0;
	padding: 0;
}