/* ==========================================================================
   #IMAGES
   ========================================================================== */

/**
 * Base `img` styles.
 */

img {
	border-width : 0;
	vertical-align : middle;
	width: 100%;
	max-width : 100%;
	-ms-interpolation-mode : bicubic;
}

img[width],
img[height] {
	max-width: none;
}