
/*------------------------------------*\
    #MINI CART
\*------------------------------------*/

/**
 * `mini-cart` container.
 */

.mini-cart {
	background: $white;
	border-top: $border-width * 2 $border-style $color-primary;
	box-shadow: 0 0 10px rgba(0,0,0,.25);
	box-sizing: border-box;
	@include clearfix;
	display: flex;
	flex-direction: column;
	max-height: calc(100vh - 115px);
	padding: $vertical-spacing / 2 $gutter / 2;
	position: absolute;
	top: 70px;
	right: $gutter / 2;
	z-index: 1000;
	width: 500px;
	max-width: calc(100% - 30px);
	
	&.hide {
		display: none;
	}
	
	.fixed-header & {
		position: fixed;
	}

    &:before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 8px solid $color-primary;
        content: "";
        display: block;
        height: 0; 
        position: absolute;
        top: -12px;
        right: 30px;
        width: 0; 
    }
    
    @include bp(bp5) {
	    padding: $vertical-spacing $gutter;
    }
}


/**
 * `mini-cart` header (title + close).
 */
 
.mini-cart__head {
	border-bottom: $border-width $border-style $border-color;
	@include clearfix;
	padding-bottom: $vertical-spacing;
}

.mini-cart__title {
	@include font-size(18);
	margin-bottom: 0;
}

.mini-cart__close {
	background: none;
	fill: $grey-light;
    float: right;
    height: 20px;
    margin-left: $gutter / 2;
    padding: 0;
    text-shadow: none;
    width: 20px;
    
    &:hover {
        fill: $grey-darker;
    }
}


/**
 * `mini-cart` body (products).
 */

.mini-cart__body {
	overflow-y: auto;
	margin-right: -$gutter / 2;
	padding-right: $gutter / 2;
  
	@include bp(bp5) {
		margin-right: -$gutter;
		padding-right: $gutter;
	}
}

.mini-cart__item {
	border-bottom: $border-width $border-style $border-color;
    clear: both;
    @include clearfix;
    padding: $vertical-spacing 120px $vertical-spacing 75px;
    position: relative;
    
    .u-photo {
	    display: block;
	    float: left;
	    margin-left: -75px;
	    width: 60px;
    }
    
    @include bp(bp4) {
	    padding: $vertical-spacing 120px $vertical-spacing 115px;
	    
	    .u-photo {
		    margin-left: -115px;
			width: 100px;
	    }
    }
    
    .p-name {
	    @include font-size(12);
		margin-bottom: 0;
		
		@include bp(bp4) {
			@include font-size($font-size);
		}
    }
    
    .e-description {
	    @include font-size(11);
	    margin-bottom: 2px;
	    
	    @include bp(bp4) {
			@include font-size(12);
		}
    }
    
    .p-price {
	    @include font-size(11);
	    margin-bottom: 0;
	    
	    @include bp(bp4) {
			@include font-size(12);
		}
    }
    
    .qty {
	    position: absolute;
	    top: $vertical-spacing;
	    right: 0;
	    text-align: right;
    }
}

/**
 * `mini-cart` foot (price + button).
 */

.mini-cart__total {
    @include clearfix;
    color: $grey-darker;
    @include font-size(18);
    font-weight: 700;
    margin-bottom: 0;
    padding: $vertical-spacing / 2 0;
    text-transform: uppercase;
    width: 100%;
    
    span {
	    float: right;
    }
}

.mini-cart__btn {
	margin-bottom: 0;
}