
/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/**
 * Default styling for buttons. Extend this object with a `.btn--*` skin class
 * to change background-color, size or apply a relevant icon preceding the text.
 *
 * 1. Addtional `:before` styling is included for when an `icon` is required.
 * 2. Add a left margin when to any `.btn` that follows another.
 */

.btn {
	background-image: none;
	background-color: $button-bg;
	background-repeat: no-repeat;
	border: none;
	border-radius: $button-border-radius;
	box-sizing: border-box;
	color: $button-font-color;
	cursor: pointer;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-family: $button-font-family;	
	@include font-size(10);
	font-weight: $button-font-weight;
	height: auto;
	letter-spacing: $button-letter-spacing;
	line-height: $font-lineheight;
	margin-bottom: $vertical-spacing;
	*margin-left: .3em;
	padding: 8px $gutter / 2;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	text-transform: $button-font-transform;
	transition: all .20s;
	vertical-align: top;
	
	&:visited {
		background-color: $button-bg;
		color: $button-font-color;
	}
	
	&:hover,
	&:focus {
		background-color: $button-bg-hover;
		color: $button-font-color-hover;
		outline: 0;
	}
	
	&:active {
		top: 1px;
	}
	
	.icon {
		fill: $white;
		margin-right: 5px;
	}
	
	@include bp(bp4) {
		@include font-size($button-font-size);
		padding: 10px $gutter;
	}
}

.btn--primary {
	background: $button-primary-bg;
	color: $button-primary-font-color;
	
	&:visited {
		background-color: $button-primary-bg;
		color: $button-primary-font-color;
	}
	
	&:hover,
	&:focus {
		background-color: $button-primary-bg-hover;
		color: $button-primary-font-color-hover;
	}
}

.btn--neutral {
	background: $button-neutral-bg;
	border: $border-width $border-style $input-border-color;
	color: $button-neutral-font-color;
	
	.icon {
		fill: $grey-light;
	}
	
	&:visited {
		background-color: $button-neutral-bg;
		color: $button-neutral-font-color;
	}
	
	&:hover,
	&:focus {
		background-color: $button-neutral-bg-hover;
		color: $button-neutral-font-color-hover;
	}
}




.btn--large {
	padding: 15px 30px;
}


.btn--wide {
	width: 100%;
}


.icon {
	display: inline-block;
    fill: $grey-darker;
    height: 20px;
    position: relative;
    transition: all .20s;
    vertical-align: top;
    width: 20px;
    
    a:hover & {
	    fill: $color-primary;
    }
}


.btn .icon {
	height: 20px;
    width: 20px;
}

