
/* ==========================================================================
   #TEXT-INPUTS
   ========================================================================== */

/**
 * Default textfield and textarea styling.
 *
 * 1. Removes default iOS input shadow.
 */
 
.text-input {
	background-color: $input-bg;
	background-image: none;
	border: $input-border-width $input-border-style $input-border-color;
	border-radius: $input-border-radius;
	box-sizing : border-box;
	color: $input-font-color; 
	display: block;
	font-family : $input-font-family;
	@include font-size(10);
	line-height: $font-lineheight;
	margin-bottom: ($vertical-spacing / 2);
	padding: $input-padding;
	transition : all $transition-duration $transition-timing-function;
	vertical-align: top;
	width : 100%;
	max-width : 100%;
	-moz-appearance : none;  /* [1] */
	-webkit-appearance : none;  /* [1] */
	
	&:hover {
		border-color: $input-border-color-hover;
	}
	
	&:focus {
		border-color: $input-border-color-focus;
		outline: none;
	}
	
	@include bp(bp4) {
		@include font-size($input-font-size);
	}
}

textarea.text-input {
	//height: $textarea-min-height;
	resize-x: none;
}

/**
 * Remove -webkit- styling on `<input type="search />`
 */
 
input[type="search"] {
	-webkit-appearance: none;
}

/**
 * Datepicker styling
 */
 
.datepicker {
	background: url(../assets/icon-calendar.svg) no-repeat 10px center;
	background-size: 20px;
	padding-left: 40px;
}

/**
 * Placeholder text styles.
 */

.text-input {
	
	&::-webkit-input-placeholder {
		color: $input-placeholder-color; 
		font-family : $input-font-family;
		@include font-size($input-placeholder-font-size);
	}

	&:-moz-placeholder {
		color: $input-placeholder-color;
		font-family: $input-font-family;
		@include font-size($input-placeholder-font-size);
		opacity: 1;
	}
	
	&::-moz-placeholder {
		color: $input-placeholder-color;
		opacity: 1;
	}
	
	&:-ms-input-placeholder {
		color: $input-placeholder-color;
	}
}

[placeholder]:focus::-webkit-input-placeholder {
	opacity: 0;
	transition: opacity .5s .5s ease;
}





/* ==========================================================================
   #SELECT
   ========================================================================== */

select {
	margin-bottom: $vertical-spacing;
	width: auto;
	max-width : 100%;
	-moz-appearance: menulist;
	-webkit-appearance: menulist;
}





/* ==========================================================================
   #FORM-GROUP
   ========================================================================== */

/**
 * `.form-group` is used to group labels and inputs/form elements together.
 *
 * 1. All margins are equal for consistency.
 * 2. `Clearfix` is applied to prevent margin collapse, helping with spacing
 *    consistency. And also for when a class of `.form-horz` is used to present
 *    the label and controls horizontally aligned which is achieved using floats
 *    and extended in _768.scss.
 * 3. When a class of `.error` is applied we adjust the colouring of text/input
 *    elements so it stands out, drawing the users attention to where they've
 *    made a mistake entering data on the form.
 */

.form-group__title,
.form-group__controls {
	margin-bottom: $vertical-spacing / 2; /* [1] */
}

.form-group {
	@include clearfix;  /* [2] */
	
	.btn {
		margin-right: $gutter / 4;
		
		&.align-right {
			margin-right: 0;
			margin-left: $gutter / 4;
		}
	}
	
	&.error {  /* [3] */
		
		.form-group__title,
		.required {
			color: $color-error;
		}
		
		.text-input {
			border-color: $color-error;
		}
	}
}

.form-group--btns {
	padding-bottom: $vertical-spacing / 2;
	
	.btn {
		margin-bottom: $vertical-spacing / 2;
	}
}

.error__text {
	@include font-size(12);
	color: $color-error;
	font-weight: 700;
	margin: -25px 0 $vertical-spacing;
}


/**
 * `.form-group__title` is applied to a label (title) to the group of controls.
 */

.form-group__title {
	color: $label-font-color;
	@include font-size($label-font-size);
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: $vertical-spacing / 4;
}

.required {
	color: $color-primary;
	font-style: normal;
}

/**
 * `.form-group__controls` is used to contain elements that require action, for
 * example inputs, textareas, radio/checkboxes and selects.
 *
 * 1. Paragraph margins are adjusted to match that of the form elements.
 */

.form-group__controls {
	@include clearfix;
	
	p {
		margin-bottom: $vertical-spacing/2; /* [1] */
	}
}