
/* ==========================================================================
   #HR
   ========================================================================== */

/**
 * Base `hr` styling.
 */

hr {
	border: 0;
	border-bottom: $border-width $border-style $border-color;
	clear: both;
	display: block;
	height: 0;
	margin: $vertical-spacing auto;
	padding: 0;
	width: 50px;
}