
/* ==========================================================================
   #TYPE MISC
   ========================================================================== */

/**
 * Highlighted styles.
 */

::-moz-selection {
	background-color: $grey-darker;
	color: $white;
	text-shadow: none;
}

::selection {
	background-color: $grey-darker;
	color: $white;
	text-shadow: none;
}


/**
 * Text-level.
 */

address {
	@include font-size($font-size);
	line-height: $font-lineheight;
	margin-bottom: ($vertical-spacing);
}

abbr[title] {
	border-bottom: 1px dotted $border-color;
	cursor: help;
}

.amp {
	font-family: $amp-font-family;
}

dfn {
	font-style: italic;
}

ins {
	background-color: $base-bg;
	text-decoration: underline;
}

mark {
	background-color: $base-bg;
	color: $font-color;
	font-style: italic;
	font-weight: bold;
}


/*
 * Strong (bold), emphasized (italic) and small text.
 */
 
b,
strong {
	font-weight: 700;
}

i,
em {
	font-style: italic;
}

small {
	font-size: .75em;
}


/*
 * Class of `.amp` can be used to subtly darken/emphasize text.
 */

.amp {
	color: $black;
}


/*
 * Code.
 */ 

code {
	background-color: $base-bg;
	color: $code-font-color;
	font-family: $code-font-family;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}


/*
 * Superscript/subscript.
 */

sub,
sup {
	font-size: .75em;
	line-height: 0;
	position: relative;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}
