
/* ==========================================================================
   #QUOTES
   ========================================================================== */

/**
 * Base quote styles.
 */

blockquote {
	color: $grey-darker;
	font-style: italic;
	font-weight: 700;
	margin: ($vertical-spacing * 2) $gutter / 2;
	
	@include bp(bp5) {
		margin: ($vertical-spacing * 2) ($gutter);
	}
	
	.pop & {
		margin: ($vertical-spacing * 2) 0;
		text-align: center;
	}

	p {
		@include font-size(22);
		font-style: italic;
		line-height: 1.2;
	 
		@include bp(bp4) {
			@include font-size(28);
		}
	}
	
	> p {
		position: relative;
		text-indent: 4px;
		
		&:first-child:before,
		&:last-of-type:after {
			color: $color-primary;
			content: "\201c";
			display: inline;
			font-size: 48px;
			font-family: "Georgia";
			font-style: normal;
			line-height: 0.1em;
			//margin-left: -30px;
			position: relative;
			top: 14px;
			left: -4px;
			text-indent: 0;
		}
		
		&:last-of-type:after {
			content: "\201d";
			top: 18px;
			right: -4px;
			left: auto;
		}
		
		@include bp(bp4) {
			
			&:first-child:before,
			&:last-of-type:after {
				font-size: 60px;
				top: 16px;
			}
			
			&:last-of-type:after {
				top: 20px;
			}
		}
	}
	
	footer {
		@include font-size($font-size);
		margin-top: -$vertical-spacing / 4;
		
		&:before {
			background: $grey-darker;
			content: "";
			display: inline-block;
			height: 2px;
			margin-right: $gutter / 2;
			position: relative;
			top: 10px;
			vertical-align: text-top;
			width: 10px;
		}
	}

	small {
		font-family: $alt-font-family;
		text-transform : uppercase;

		@include bp(bp3) {
			padding-left: ($gutter * 2);
		}
	}

	cite {
		font-style: normal;
	}
}