
/* ==========================================================================
   #LISTS
   ========================================================================== */

/**
 * Base list styles.
 */
 
ul,
ol {
	list-style-position: inside;
	margin: 0 0 ($vertical-spacing) 0;
	padding: 0 0 0 $gutter / 2;
	
	@include bp(bp5) {
		padding-left: $gutter;
	}
}

li {
	margin-bottom: ($vertical-spacing / 4);
}

li > ul,
li > ol {
	list-style-type: none;
	margin: $vertical-spacing / 4 0 0 ($gutter / 2);
	padding: 0;
}

ul {
	list-style: none;
	
	li {
		background: url(../img/interface/bullet.svg) no-repeat 0 8px;
		background-size: 5px 5px;
		padding-left: 15px;
	}
}


/**
 * Adds a bottom border as horizontal rule between each list-item.
 */

.list-bordered {
	list-style-type: none;
	margin: 0 0 $vertical-spacing 0;
	padding: 0;

	li {
		background: none;
		border-bottom: $border;
		margin-bottom: $vertical-spacing/2;
		padding: 0 0 $vertical-spacing/2;
		
		&:last-child {
			border-bottom: 0;
			padding-bottom: 0;
		}
	}
}


/**
 * Adds a bottom border as horizontal rule between each list-item.
 */

.list-inline {
	margin: 0 0 $vertical-spacing/2 0;
	padding: 0;

	li {
		background: none;
		display: inline-block;
		margin: 0 $vertical-spacing/2 $vertical-spacing/2 0;
		padding: 0 0 $vertical-spacing/2;
		
		&.align-center & {
			margin: 0 $vertical-spacing/4 $vertical-spacing/2;
		}
		
		&.align-right & {
			margin: 0 0 $vertical-spacing/2 $vertical-spacing/2;
		}
	}
}



/* ==========================================================================
   #DEFINITION LISTS
   ========================================================================== */

/**
 * Base styling for definition lists. The `font-size` & `line-height` are
 * inherited from _site.scss.
 */

dl,
dd {
	margin-bottom: $vertical-spacing;
}

dt {
	color: $heading-font-color;
	font-weight: 700;
}

/**
 * Inline definition list.
 */

.dl-inline {
	@include clearfix;
	margin-bottom: $vertical-spacing / 2;

	dt {
		clear: left;
		float: left;
		margin: 0 $gutter / 2 $vertical-spacing / 2 0;
	}
	
	dd {
		margin-bottom: $vertical-spacing / 4;
	}
}





/* ==========================================================================
   #SOCIAL LIST
   ========================================================================== */

/**
 * Base list styles.
 */

.social-list {
	
	li {
		display: inline-block;
		margin-right: $gutter / 8;
	}
	
	a {
		background-image: none;
		text-shadow: none;
	}
	
	.icon {
		height: 25px;
		width: 25px;
	}
}