
/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Base styling for heading elements.
 */
 
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $heading-font-color;
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
	letter-spacing: -0.05rem;
	line-height: $heading-lineheight;
	margin: 0 0 $vertical-spacing / 2;
	transition: font-size .20s;
	text-transform: uppercase;
}

h1 { 
	@include font-size(36);

	@include bp(bp6) {
		@include font-size(48);
	}
}

h2 { 
	@include font-size(31);

	@include bp(bp6) {
		@include font-size(38);
	}
}

h3 { 
	@include font-size(22);
	
	@include bp(bp6) {
		@include font-size(28);
	}
}

h4 { 
	@include font-size(15);

	@include bp(bp6) {
		@include font-size(18);
	}
}


/**
 * Styling for groups of titles.
 */
 
.hgroup {
	margin-bottom: $vertical-spacing * 1.5;
}

.hgroup__text {
	margin-top: -5px;
}

