
/* ==========================================================================
   #SITE-NAV
   ========================================================================== */

/**
 * A class of `.show-nav` is added to the body tag once `.site-nav` is activated
 * (visible) once the `.page-head__toggle` is clicked. `.page-head__toggle` is
 * extended in _layout-banner.scss.
 */
 
 .show-nav {
	 overflow: hidden;
 }
 
/**
 * `.site-nav` is the main page navigation. It has 3 states:
 */
 
.site-nav {
	background: $color-primary;
	border: 0 solid $white;
	box-sizing: border-box;
	display: block;
	height: 100%;
	opacity: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	transform: scale(.90);
	transition: border .10s .10s ease-in, opacity .10s .80s ease, transform .20s .80s ease, visibility .10s .80s;
	user-select: none;
	visibility: hidden;
	width: 100%;
	z-index: -1;
	
	.show-nav & {
		border-width: 16px;
		opacity: 1;
		transition: border .05s .40s ease-in, opacity .10s ease-in, transform .20s ease-in;
		visibility: visible;
		transform: scale(1);
		z-index: 1000;
	}
	
	.hide-nav & {
		transform: scale(1);
		visibility: visible;
		z-index: 1000;
	}
}

.site-nav__list {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translateY(-50%);
	width: 100%;
}

.site-nav__item {
	margin: ($vertical-spacing / 2) 0;
	opacity: 0;
	transform: translateY(-150px);
	transition: all .40s .40s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	
	.show-nav & {
	    opacity: 1;
		transform: translateY(0);
		transition-delay: .20s;
		transition-duration: .80s;
    }
    
    @include bp(bp5) {
	    display: inline-block;
		margin: 0 ($vertical-spacing * 2);
	}
}

.site-nav__link {
	background: transparent;
	border-bottom: none;
	color: $grey-darker;
	display: block;
	font-family: $heading-font-family;
	@include font-size(40);
	line-height: 40px;
	padding: $vertical-spacing / 4;
	transition: all .25s;
	text-transform: uppercase;
	
	&:after {
		background: darken($color-primary,5%);
		content: "";
		display: block;
		height: 8px;
		position: absolute;
		bottom: -$vertical-spacing / 4;
		left: 50%;
		transition: all .10s ease;
		width: 0;
	}
	
	&:visited {
		background: transparent;
		color: $grey-darker;
	}

	&:hover,
	&:focus,
	&.current {
		color: lighten($color-primary,50%);
		outline: none;
		
		&:after {
			margin-left: -25px;
			width: 50px;
		}
	}

	@include bp(bp5) {
		@include font-size(60);
		line-height: 60px;
		padding: ($vertical-spacing / 2) ($vertical-spacing / 4);
	}
}

.site-nav__link--current {
	background: $color-primary;
	
	&:hover,
	&:focus {
		background: $white;
	}
}
