
.band {
	padding: 120px 0 100px;
	transition: all .25s;
	width: 100%;
	
	@include bp(bp3) {
		padding: 130px 0 110px;
	}
	
	@include bp(bp4) {
		padding: 140px 0 120px;
	}
	
	@include bp(bp5) {
		padding: 150px 0 130px;
	}
	
	.page-head + & {
		padding-top: $vertical-spacing;
	}
	
	.masthead--home + & {
		padding-top: 100px;
	}
}

.band--tint {
	background-color: lighten($grey-lighter,4%);
}

.wrap {
	margin: 0 auto;
	padding: 0 $gutter;
	max-width: 1200px;
}

.wrap--narrow {
	max-width: 900px;
}

/* ==========================================================================
   #INDEX
   ========================================================================== */

.work {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.work__item {
	@include clearfix;
	margin: 0 auto $vertical-spacing;
	padding: 0;
	width: 100%;
	max-width: 500px;

	@include bp(bp5) {
		display: flex;
		align-items: center;
		margin-bottom: 0;
		max-width: none;
		
		&:nth-child(even) {
			flex-direction: row-reverse;
		}
	}
}

.work__image-link {
	border: none;
	display: block;
	width: 100%;
	
	@include bp(bp5) {
		width: 50%;
	}
}

.work__image {
	display: block;
	margin-left: -10%; 	// (((50/500 x 100) x 6.00) / 600) x 100
	width: 120%; 		// (600/500) x 100
	max-width: none;
	
	@include bp(bp5) {
		width: 100%;
		max-width: 100%;
		margin-left: 0;
	}
}

.work__title {
	
	a {
		border: none;
		color: $heading-font-color;
		
		&:visited {
			color: $heading-font-color;
		}
		
		&:hover,
		&:focus {
			color: $link-color;
		}
	}
}

.work__sub-title {
	@include font-size(25);
}

.work__desc {
	box-sizing: border-box;
	//padding: 0 8.33333%;
	
	@include bp(bp5) {
		padding: 0 50px;
		width: 50%;
	}
}

/*

.work__item {
	display: block !important;
	float: left;
	width: 33.33333% !important;
	
	hr {
		display: none;
	}
	
	br {
		display: none;
	}
	
	.btn {
		display: none;
	}
	
	p {
		display: none;
	}
}

.work__title {
	font-size: 25px;
}

.work__sub-title {
	color: $grey;
	font-family: $font-family;
	font-size: 19px;
	text-transform: capitalize;
}

.work__image-link {
	width: 100% !important;
}

.work__desc {
	width: 100% !important;
}
*/