
/* ==========================================================================
   #SITE-HEAD
   ========================================================================== */

.page-head {
	@include clearfix;
	box-sizing: border-box;
	padding: $vertical-spacing $gutter;
	position: relative;
	z-index: 1000;
	width: 100%;
}

.page-head__home-link {
	border: none;
	display: block;
	float: left;
	fill: $white;
}

.page-head__logo {
	height: 75px;
	transition: all .25s;
	width: 75px;
	
	@include bp(bp4) {
		height: 100px;
		width: 100px;
	}
}