
/* ==========================================================================
   #FOOTER
   ========================================================================== */

/**
 * Website footer.
 */
 
.page-foot {
	background: $grey-darker;
	color: $white;
	padding: 120px 0 100px;
	text-align: center;
	
	@include bp(bp3) {
		padding: 130px 0 110px;
	}
	
	@include bp(bp4) {
		padding: 140px 0 120px;
	}
	
	@include bp(bp5) {
		padding: 150px 0 130px;
	}
	
	a,
	a:visited {
		color: $white;
	}
	
	a:hover,
	a:focus {
		color: $white;
	}
}

/**
 * Link (to homepage) which is parent of `.page-foot__logo`.
 */
 
.page-foot__home-link {
	border: none;
	display: inline-block;
	margin: 0 auto ($vertical-spacing * 2);
	
	.circle {fill: $grey-darker;}
	.stroke {fill: $white;}
	.m		{fill: $white;}
}

/**
 * Website footer logo, child of `.page-foot__home-link`.
 */
 
.page-foot__logo {
	display: block;
	height: 75px;
	transition: all .25s;
	width: 75px;
	
	@include bp(bp4) {
		height: 100px;
		width: 100px;
	}
}



.icon {
	height: 1em;
	width: 1em;
}





.hgroup {
	margin-bottom: $vertical-spacing;
	
	.lead {
		margin-top: -$vertical-spacing / 2;
	}

	&.align-center {
		
		hr {
			margin-left: auto;
			margin-right: auto;
		}
	}
}



.align-left 	{text-align: left;}
.align-center 	{text-align: center;}
.align-right 	{text-align: right;}






.contact-list {
	list-style: none;
	margin: 0 0 ($vertical-spacing / 2);
	padding-left: 0;
	
	.icon {
		fill: $color-primary;
		font-size: 1.2em;
		margin-right: $gutter / 2;
		position: relative;
		top: -1px;
		vertical-align: text-top;
	}
	
	.icon--envelope {
		top: 0;
	}
	
	.icon--location {
		margin-right: $gutter / 4;
	}
}

.contact-list__item {
	display: inline-block;
	margin: 0 ($vertical-spacing / 2) ($vertical-spacing / 2);
}

.contact-list__link {
	border-color: transparent;
	padding-bottom: 2px;
	
	&:hover,
	&:active {
		border-color: lighten($grey-darker,10%);
	}
}


.site-nav {
	
	.contact-list {
		color: $grey-darker;
		display: block;
		position: absolute;
		bottom: $vertical-spacing;
		left: 0;
		opacity: 0;
		text-align: center;
		width: 100%;
		transform: translateY(200px);
		transition: all .40s .10s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		
		.show-nav & {
		    opacity: 1;
			transform: translateY(0);
			transition-delay: .60s;
			transition-duration: .60s;
	    }
	}

	.contact-list__link {
		color: $grey-darker;
		
		&:visited {
			color: $grey-darker;
		}
		
		&:hover,
		&:focus {
			color: $grey-darker;
			border-color: darken($color-primary,5%);
		}
	}
	
	.icon {
		fill: $grey-darker;
	}
}


@media screen and (max-height: 500px) {
    
   .show-nav .site-nav .contact-list {
	   transform: translateY(200px);
	   transition-delay: 0;
   }
}

@media (max-height: 800px) and (max-width: 400px) {
    
   .show-nav .site-nav .contact-list {
	   transform: translateY(200px);
	   transition-delay: 0;
   }
}




.social-list {
	list-style: none;
	
	.icon {
		fill: $color-primary;
		height: 50px;
		width: 50px;
	}
}

.social-list__item {
	display: inline-block;
}

.social-list__link {
	border-bottom: 0;
}