
/* ==========================================================================
   #SITE
   ========================================================================== */

/**
 * Viewports.
 */

@-webkit-viewport 	{ width: device-width;}
@-moz-viewport 		{ width: device-width;}
@-ms-viewport 		{ width: device-width;}
@-o-viewport 		{ width: device-width;}
@viewport 			{ width: device-width;}


/**
 * Base `html` styling.
 *
 * 1. Prevents content jumping when `.show-nav` is applied to `body` which is
 *    caused because `overflow: hidden;` is applied, which hides any scrollbar. 
 */
 
html {
	background: transparent;
	font-size: 62.5%;
	//margin-left: calc(100vw - 100%); /* [1] */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: $base-bg;
	-webkit-text-size-adjust: 100%;
}

/**
 * Base `body` styling.
 */

body {
	background-color: $body-background;
	color: $font-color;
	font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures;
	font-family: $font-family;
	@include font-size(14);
	font-weight: $font-weight;
	line-height: $font-lineheight;
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
	
	@include bp(bp3) {
		@include font-size(16);
	}

	@include bp(bp4) {
		@include font-size($font-size);
	}
}


/**
 * Putting touch-action: manipulation; on a clickable element makes WebKit
 * consider touches that begin on the element only for the purposes of panning 
 * and pinching to zoom. This means WebKit does not consider double-tap gestures
 * on the element, so single taps are dispatched immediately.
 */
 
a,
button,
input,
select,
textarea,
label,
summary {
	touch-action : manipulation;
}
