
/**
 * For any 'unique' elements that appear withnin course materials. Although each
 * 'app' will be made up of the same components (mark-up) and just styled/themed
 * differently, there will be some exceptions. These will mainly be custom 
 * diagrams/illustration with clickable hotspots.
 *
 * NOTE: Any @2x images that are required for elements in this file should be
 *       specified at the bottom of this document, NOT _2x.scss.
 */
 
 
/*------------------------------------*\
    #CUSTOM
\*------------------------------------*/

/**
 * To style text in a speech bubble wrap with a class of `.speech-bubble`.
 *
 * 1. If there is more than one `.speech-bubble` you may want to wrap them in a
 *    `.speech-bubble-group` div which will alternate the horizontal position of
 *    the speech bubble 'tail'.
 */
 
.speech-bubble-group {
	margin-bottom: $baseline*2;
}

.speech-bubble {
	background: $white;
	box-sizing: border-box;
	border-radius: 50%;
	box-shadow: inset -8px -4px 0 $grey-lite, 4px 4px rgba($black,.05);
	color: $grey-l;
	display: inline-block;
	font-family: $alt-font-family;
	@include font-size(18);
	margin-bottom: $baseline;
	margin: $baseline;
	padding: $baseline*2.5;
	position: relative;
	text-shadow: none !important;
	transition: all .20s;
	max-width: 50%;
	-webkit-backface-visibility: hidden;
	
	&:after {
		background: url(../img/interface/speech-bubble-tail.png) no-repeat 0 0;
		content: "";
		display: block;
		height: 20px;
		margin-left: -10px;
		position: absolute;
		left: 50%;
		bottom: -18px;
		width: 40px;
	}
	
	.speech-bubble-group & { /* [1] */
	
		&:nth-child(even) {
			
			&:after {
				margin-left: -20px;
				transform: rotateY(180deg);
			}
		}
	}
}

/**
 * Styles only used if the `.speech-bubble` is a link.
 */
 
a.speech-bubble {
	color: $grey;
	
	&:visited {
		color: $grey;
	}
	
	&:hover,
	&:focus {
		color: $black;
		transform: rotate(2deg);
		
		.speech-bubble-group & { /* [1] */
	
			&:nth-child(even) {
				transform: rotate(-2deg);
			}
		}
	}
}





/*------------------------------------*\
    #CLICKABLE IMAGES/DIAGRAMS
\*------------------------------------*/

/**
 * Clickable diagram - U2/S4/S5.
 * When hotspot's are clicked a fancybox overlay is launched.
 */

.diagram-kitchen-staff {
	margin: 0 auto $baseline;
	position: relative;
	max-width: 630px;
	
	img {
		margin-bottom: 0;
	}
	
	.hotspot {
		background: transparent;
		border-radius: 100%;
		height: 19.6078431373%; // (100/510) x 100
		overflow: hidden;
		position: absolute;
		text-indent: -9999px;
		transition: background-color .10s ease-out;
		width: 28.5714285714%; // (180/630) x 100
		
		&:hover {
			background-color: rgba($black,.10)
		}
	}
	
	.hotspot--executive	{top: 	 1.96078431373%; 	left:  34.9206349206%;}
	.hotspot--sous		{top: 	 27.4509803922%; 	left:  34.9206349206%;}
	.hotspot--section	{top: 	 52.9411764706%; 	left:  34.9206349206%;}
	.hotspot--chef 		{top: 	 52.9411764706%; 	right: 1.5873015873%;}
	.hotspot--assistant {bottom: 1.96078431373%; 	left:  34.9206349206%;}
	.hotspot--pantry 	{bottom: 1.96078431373%; 	left:  1.5873015873%;}
}

/**
 * Clickable diagram - U1/S9/S4.
 * A list of letters, when one is hovered over the rest of the word is revealed.
 */
 
.list-reveal {
	@include font-size(45);
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
	line-height: 1;
		
	li {
		background: none;
		color: $link-color;
		padding-left: 0;
		
		span {
			opacity: 0;
			transition: all .25s;
		}
		
		&:hover {
			color: $heading-font-color;
			
			span {
				opacity: 1;
			}
		}
	}
}

/**
 * Clickable diagram - U2/S1/S3.
 * An SVG layout which has clickable paths + circles (`.fancybox`) which when
 * clicked open up the relevant FancyBox styles content.
 */
 
.eatwell-plate {
	width: 100%;
	max-width: 760px;
	
	.fancybox {
		cursor: pointer;
		fill: transparent;
		pointer-events: all;
		transition: all .25s;
		fill: rgba($white,.05);

		&:hover {
			fill: rgba($black,.05);
		}
	}
}





/*------------------------------------*\
    #CUSTOM @2x IMAGES
\*------------------------------------*/

/**
 * Specify any @2x images that are required for custom elements here.
 */

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
	
	/**
	 * `.speech-bubble` styling.
	 */
	
	.speech-bubble:after {
		background: url(../img/interface/speech-bubble-tail@2x.png) no-repeat 0 0;
		background-size: 40px 20px;
	}
}

