
/* ==========================================================================
   #BOX
   ========================================================================== */

/**
 * Basic boxout styling.
 *
 * 1. Adjust anchor `text-shadow` (normally white) incase a link is displayed
 *    on a coloured background.
 */

.box {
	background: lighten($grey-lighter,2.5%);
	border: $border;
	box-sizing: border-box;
	margin-bottom: $vertical-spacing;
	padding: $vertical-spacing ($gutter / 2) 0;
	
	a {
		text-shadow: 3px 0 lighten($grey-lighter,2.5%), 2px 0 lighten($grey-lighter,2.5%), 1px 0 lighten($grey-lighter,2.5%), -3px 0 lighten($grey-lighter,2.5%), -2px 0 lighten($grey-lighter,2.5%), -1px 0 lighten($grey-lighter,2.5%); /* [1] */
	}
}

/**
 * A clear (no background/border) box. Maintains the same padding and spacing as
 * the default `.box` style.
 */

.box--white {
	background-color: $white;
}

/**
 * A clear (no background/border) box. Maintains the same padding and spacing as
 * the default `.box` style.
 */

.box--clear {
	background: transparent;
	border: none;
	box-sizing: border-box;
	margin-bottom: $vertical-spacing;
	padding: $vertical-spacing ($gutter / 2) 0;
}