
/* ==========================================================================
   #MASTHEAD
   ========================================================================== */

/**
 * An area found at the top of a page, below the header. Usually contains a
 * title + short sentence with an image or video background. When a background
 * image is specified it is added inline as it's controlled in the CMS. THough I
 * have added a 'default' image incase the client doesn't want to add a custom
 * image to every page.
 *
 * 1. Using a `min-height` to keep the size of the `.masthead` area consistent.
 * 2. Ensure content is vertically centred.
 * 3. Add a subtle overlay over the background so text is more legible.
 * 4. The bottom of each `.masthead` has a paint stroke effect.
 * 5. Adjust the height of the paint effect on mobile/desktop. 25px on mobile is
 *    a bit too taller and not as subtle.
 * 6. Add a `z-index` to any `.wrap` container so it always displays above the
 *    overlay.
 * 7. As default link styling doesn't work well in this section due to the
 *    background image (the text-shadow 'crop' doesn't work, it just looks like
 *    a white glow) we adjust the styling slightly so it's more legible - but
 *    only target links within the `p` element so `.btn`s aren't affected.
 * 8. When `.btn` elements are side by side.
 * 9. Add more vertical space when he `.features` block is added on the
 *    fullbleed landing page.
 */

.masthead {
	background-color: $color-primary;
	background-image: url(../img/interface/bg-masthead.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
	color: $white;
	display: flex; /* [2] */
	align-items: center; /* [2] */
	justify-content: center; /* [2] */
	min-height: 300px; /* [1] */
	overflow: hidden;
	padding: ($vertical-spacing * 2) 0 ($vertical-spacing);
	position: relative;
	width: 100%;
	
	&:before { /* [3] */
		background: rgba($black,.45);
		content: "";
		display: block;
		height: 100%;
		padding: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 4;
	}
	
	&:after { /* [4] */
		background: url(../img/interface/paint-bottom.svg) no-repeat left bottom;
		background-size: cover;
		content: "";
		display: block;
		height: 15px; /* [5] */
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 8;
		
		@include bp(bp5) {
			height: 25px; /* [5] */
		}
	}
	
	.wrap {
		position: relative;
		z-index: 12; /* [6] */
	}
	
	/**
	 * Styling of text-level elements within a `.masthead`.
	 */
	
	.hgroup {
		margin-bottom :0;
		
		p {
			color: $grey-lighter;
		}
	}
	
	.hgroup__title {
		color: $white;
	}
	
	.meta {
		color: $grey-lighter;
		@include font-size(14);
		margin-bottom: $vertical-spacing / 4;
		
		@include bp(bp5) {
			@include font-size(16);
		}
	}
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $white;
	}
	
	p a { /* [7] */
		background: none;
		border-bottom: 1px solid $color-primary;
		color: $white;
		padding: 0;
		text-shadow: none;
		
		&:visited {
			color: $white;
		}
		
		&:hover,
		&:focus {
			border-color: $white;
			color: $white;
		}
	}
	
	.btn { /* [8] */
		margin-left: 5px;
		margin-right: 5px;
	}
	
	.features {  /* [9] */
		margin-top: $vertical-spacing * 2;
	}
}

/**
 * Specific styling of a `.masthead` that has a video background.
 *
 * 1. Add interlacing effect over the top of the video.
 * 2. As more content is on the fullbleed version, we darken the background a
 *    bit more.
 */

.masthead--video {
	height: 60vh;
	z-index: 1;
	
	&:before {
		background: rgba($black,.45) url(../img/interface/interlacing.png) 0 0; /* [1] */
	}
	
	&.masthead--fullbleed {
		height: 100vh;
		
		&:before {
			background-color: rgba($black,.60); /* [2] */
		}
		
		&:after {
			display: none;
		}
	}
}

/**
 * The actual `video` element within `.masthead--video`.
 *
 * 1. Overwrite base `video` element styles as it causes video not the fill the
 *    height of it's container on narrower viewports.
 */

.hero-video {
	background-size: cover;
    display: block;
    height: auto;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    min-width: 100%;
    max-width: none; /* [1] */
}


/**
 * When a logo is placed within the masthead container. Only really for pages
 * where the header isn't visible.
 */

.masthead__logo {
	background-image: none;
	display: inline-block;
	margin-bottom: $vertical-spacing;
	padding: 0;
	text-shadow: none;
	width: 300px;
}