/* Default/mandatory classes.
   ========================================================================== */

/**
 * Grid-like layout system.
 *
 * 1. Fix flexbox issue in Safari where items aren't displayed in a row. Notable
 *    On the first and last rows. This happens because Safari treats `:before`
 *    and `:after` pseudo-elements as if they were real elements. `width: 0;`
 *    also works.
 */

.mosaic {
	@include clearfix;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style: none;
	margin: 0 0 0 (-$gutter / 2);
	padding: 0;
	
	&.h-feed {
		margin-bottom: $vertical-spacing;
	}
	
	&:before,
	&:after {
		content: normal; /* [1] */
	}
	
	@include bp(bp4) {
		margin-left: -$gutter;
	}
}

.mosaic__item {
	background: none;
	box-sizing: border-box;
	display: block;
	margin-bottom: 0;
	padding-left: (-$gutter / 2);
	position: relative;
	width: 50%;
	
	&.h-product {
		margin-bottom: $vertical-spacing / 2;
	}
	
	@include bp(bp4) {
		float: left;
		padding-left: $gutter;
		width: 50%;
		
		&:nth-child(odd) {
			clear: left;
		}
		
		&.h-product {
			margin-bottom: 0;
		}
	}
	
	@include bp(bp7) {
		width: 33.33333%;
		
		&:nth-child(odd) {
			clear: none;
		}
		
		&:nth-child(3n+1) {
			clear: left;
		}
	}
}

/**
 * 1. Added to make childern the same height. Also added to `.mosaic__caption`.
 */

.mosaic__wrap,
.mosaic__link {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; /* [1] */
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column; /* [1] */
	height: 100%; /* [1] */
	position: relative;
}

.mosaic__link {
	background: transparent;
	font-weight: 400;
	padding: 0;
	-webkit-transition: all .20s;
	transition: all .20s;
	text-shadow: none;
	
	&:hover {
		background: $color-primary url("../assets/texture.png") 0 0;
	}
}

.mosaic__image-wrap {
	background-image: none;
	display: block;
	overflow: hidden;
	padding: 0;
	text-shadow: none;
}

.mosaic__image {
	display: block;
	-webkit-transition: all .25s ease-out;
	transition: all .25s ease-out;
	width: 100%;
	max-width: 100%;
	-webkit-backface-visibility: hidden;
	
	.mosaic__item:hover & {
		-webkit-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05);
	}
}

/**
 * 1. Added to make childern the same height. Also added to `.mosaic__wrap`.
 * 2. Prevents button stretching to be 100% wide.
 * 3. Forces bottom to align to the bottom edge so they all line up. Also added
 *    `form` element to this as functionality is different in build/on Shopify.
 */

.mosaic__caption {
	box-sizing: border-box;
	color: $font-color;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; /* [1] */
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column; /* [1] */
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center; /* [2] */
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow: hidden;
	padding: $vertical-spacing / 2 $gutter / 2;
	text-align: center;
	-webkit-transition: all .25s;
	transition: all .25s;
	
	.mosaic__link & {
		position: relative;
	}
	
	.mosaic__link:hover & {
		color: lighten($color-primary,60%);
		
		&:before {
			border: 1px dashed rgba($white,.25);
			content: "";
			display: block;
			position: absolute;
			top: 3px;
			right: 3px;
			bottom: 3px;
			left: 3px;
			z-index: 0;
	    }
	}
	
	.btn,
	form {
		margin-top: auto; /* [3] */
		margin-bottom: 0;
	}
	
	@include bp(bp4) {
		padding: $vertical-spacing $gutter;
	}
}

.mosaic__title {
	color: $grey-darker;
	@include font-size(13);
	margin-bottom: $vertical-spacing / 2;
	-webkit-transition: all .20s;
	transition: all .20s;
	
	.h-product & {
		margin-bottom: $vertical-spacing / 4;
	}
	
	a {
		background-image: none;
		font-weight: $heading-font-weight;
		text-shadow: none;
	}
	
	@include bp(bp5) {
		@include font-size(18);
	}
	
	.mosaic__link:hover & {
		color: $white;
	}
}

.mosaic__desc {
	margin-bottom: $vertical-spacing / 4;
}

.mosaic__value {
	margin-bottom: $vertical-spacing / 2;
	
	del {
		color: $grey;
	}
	
	.p-price {
		color: $grey-darker;
		font-weight: 700;
		margin-left: 5px;
	}
}

.h-review {
	margin-bottom: 0;
	
	.icon {
		fill: $grey-light;
		height: 15px;
		margin: 0 -1px;
		width: 15px;
	}
	
	.p-rating[value="1"] {
		
		.icon:nth-child(1) {
			fill: rgb(83,136,41);
		}
	}
	
	.p-rating[value="2"] {
		
		.icon:nth-child(-n+2) {
			fill: rgb(83,136,41);
		}
	}
	
	.p-rating[value="3"] {
		
		.icon:nth-child(-n+3) {
			fill: rgb(83,136,41);
		}
	}
	
	.p-rating[value="4"] {
		
		.icon:nth-child(-n+4) {
			fill: rgb(83,136,41);
		}
	}
	
	.p-rating[value="5"] {
		
		.icon {
			fill: rgb(83,136,41);
		}
	}
}

.meta {
	color: $grey;
	font-family: $alt-font-family;
	@include font-size(10);
	margin-bottom: $vertical-spacing / 2;
	text-transform: uppercase;
	
	.flag {
		top: -1px;
	}
	
	.mosaic__link:hover & {
		color: lighten($color-primary,60%);
	}
	
	@include bp(bp5) {
		@include font-size($font-size);
	}
}

.flag {
	background: $color-primary;
	color: $white;
	display: inline-block;
	font-family: $alt-font-family;
	@include font-size(8);
	font-weight: 700;
	line-height: 14px;
	margin-right: 5px;
	padding: 4px 10px;
	position: relative;
	text-transform: uppercase;
	-webkit-transition: background .25s;
	transition: background .25s;
	
	@include bp(bp5) {
		@include font-size(11);
		padding: 6px 12px;
	}
	
	&:before {
		border: 1px dashed rgba($white,.25);
		border-radius: 2px;
		content: "";
		display: block;
		position: absolute;
		top: 2px;
		right: 2px;
		bottom: 2px;
		left: 2px;
		z-index: 0;
	}
	
	.mosaic__link:hover & {
		background: $grey-darker;
	}
	
	.h-product & {
		box-shadow: 1px 1px 2px rgba($black,.25);
		position: absolute;
		top: 10px;
		left: -5px;
	}
}

a.flag {
	background-image: none;
	text-shadow: none;
	
	&:visited {
		color: $white;
	}
	
	&:hover,
	&:focus {
		background-color: $link-color-hover;
		color: $white;
	}
}