/* ==========================================================================
   #BASKET
   ========================================================================== */

/**
 * Basket table rules.
 */
 
.basket {
	width: 100%;
	
	td {
		
		> *:last-child {
			margin-bottom: 0;
		}
	}
}

.basket__head {
	
	th {
		display: none;
		
		&:first-child {
			display: block;
		}
	}
	
	@include bp(bp4) {

		th {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			
			&:first-child {
				display: table-cell;
				text-align: left;
			}
		}
	}
}

.basket__body {
	
	tr {
		border-bottom: $table-border-width $table-border-style $table-border-color;
		display: block;
		padding: $vertical-spacing / 2 $gutter / 2;
	}
	
	td {
		border-bottom: 0;
		display: block;
		padding: 0;
		
		&.basket__price {
			display: none;
		}
	}
	
	@include bp(bp4) {
		text-align: center;
		
		tr {
			display: table-row;
		}
		
		td {
			border-bottom: $table-border-width $table-border-style $table-border-color;
			display: table-cell;
			padding: $vertical-spacing / 2 $gutter / 2;
			vertical-align: middle;
			
			&.basket__price {
				display: table-cell;
			}
		}
	}
}

.basket__foot {
	color: $grey-darker;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	
	tr {
		display: block;
		
		@include bp(bp4) {
			display: table-row;
		}
	}
	
	td {
		border-bottom: none;
		width: 100%;
		
		&:last-child {
			text-align: right;
		}
	}
			
	tr:first-child td {
		padding: 30px $table-padding 0;
	}
	
	tr:last-child td {
		padding: $table-padding $table-padding 0;
	}
	
	p {
		@include font-size(18);
	}
	
	@include bp(bp4) {
		text-align: right;
		
		td {
			width: auto;
			
			&:last-child {
				text-align: center;
			}
		}
	}
}

/**
 * Basket images.
 */

.basket__image {
	@include clearfix;
	float: left;
	width: 135px;
	
	@include bp(bp4) {
		float: none;	
	}
}

/**
 * Basket descriptions.
 */

.basket__desc {
	margin-left: 150px;
	
	@include bp(bp4) {
		margin-left: 0;
		padding-left: 0;
		text-align: left;
	}
	
	h1,
	h2,
	h3,
	h4 {
		@include font-size(14);
		margin-bottom: 5px;
		
		@include bp(bp4) {
			@include font-size(16);
			margin-bottom: 0;
		}
	}
	
	p {
		@include font-size(12);
		margin-bottom: $vertical-spacing / 4;
		
		@include bp(bp4) {
			@include font-size($font-size);
		}
	}
}

/**
 * Basket quantity.
 */
 
.basket__qty {
	margin-left: 150px;
	
	.qty {
		margin: $vertical-spacing / 2 0 0;
	}
	
	@include bp(bp4) {
		margin-top: 20px;
		width: 105px;	
	}
}

/**
 * Basket price.
 */
 
.basket__price {
	color :$grey-darker;
	display: none;
	width: 120px;
	
	@include bp(bp4) {
		display: table-cell;	
	}
}


.basket-form {
	@include clearfix;
	
	.btn {
		margin-bottom: $vertical-spacing / 4;
		width: 100%;
		
		@include bp(bp4) {
			float: right;
			margin: 0 0 0 $gutter / 2;
			width: auto;
		}
	}	
}