/* ==========================================================================
   #PRODUCT DETAIL
   ========================================================================== */
   
/**
 * The `.page` div acts as a container for all the content on a page. Including
 * the header and footer.
 */

.product__detail {
	text-align: center;
	
	.p-name {
		@include font-size(18);
		margin-bottom: $vertical-spacing / 4;
	}
	
	@include bp(bp5) {
		position: -webkit-sticky;
	    position: sticky;
	    top: 100px;
	    
	    .p-name {
			@include font-size(21);
		}
	}
}

.product__price {
	
	del {
		margin-right: 5px;
	}
	
	strong {
		color: $color-primary;
		@include font-size(15);
		
		@include bp(bp6) {
			@include font-size(18);
		}
	}	
}

.product__qty {
	margin: 0 auto $vertical-spacing;
}


.product__info {
	
	h1,
	h2,
	h3,
	h4 {
		@include font-size(15);

		@include bp(bp6) {
			@include font-size(18);
		}
	}
	
	@include bp(bp5) {
		clear: left;
	}
}
