/* ==========================================================================
   #PAGE
   ========================================================================== */
   
/**
 * The `.page` div acts as a container for all the content on a page. Including
 * the header and footer.
 */

.page {}

.band {
	padding: $vertical-spacing 0 0;
	position: relative;
	
	+ .band:not(.band--tint) {
		padding-top: 0;
	}
	
	@include bp(bp5) {
		padding: $vertical-spacing * 2 0 $vertical-spacing;
	}
}

.band--tint {
	background: rgba($black,.04);
	border-top: 1px solid rgba($white,.50);
	box-shadow: 0 -1px 1px rgba($black,.10);
	position: relative;
	
	&:before {
		border-top: 1px dashed rgba($grey-darker,.10);
		content: "";
		display: block;
		height: 1px;
		position: absolute;
		top: 3px;
		left: 0;
		width: 100%;
    }
    
    + .band:not(.band--tint) {
	    padding-top: $vertical-spacing;
	    border-top: 1px solid rgba($white,.50);
	    box-shadow: inset 0 1px 1px rgba($black,.10);
	    
	    @include bp(bp5) {
		    padding-top: $vertical-spacing * 2;
	    }
	    
	    &:before {
			border-top: 1px dashed rgba($grey-darker,.10);
			content: "";
			display: block;
			height: 1px;
			position: absolute;
			top: -4px;
			left: 0;
			width: 100%;
	    }
    }
}

.band--primary {
	background-color: $color-primary;
}

.wrap {
	box-sizing: border-box;
	@include clearfix;
	margin: 0 auto;
	padding: 0 $gutter / 2;
	width: 100%;
	max-width: 1400px;
	
	@include bp(bp4) {
		padding: 0 $gutter;
	}
}

.wrap--narrow {
	max-width: 800px;
}