
/* ==========================================================================
   #SITE-NAV
   ========================================================================== */

/**
 * A class of `.show-nav` is added to the body tag once `.site-nav` is activated
 * (visible) once the `.page-head__toggle` is clicked. `.page-head__toggle` is
 * extended in _layout-banner.scss.
 */
 
.page-head {
	 
	.site-nav {
		display: none;
		float: left;
		margin: 0;
		padding: 0;
	
		@include bp(bp6) {
			display: block;
		}
	}
	
	.site-nav__list {
		@include font-size(13);
		line-height: 1.2;
		margin: 0;
		padding: 0;
	}
	
	.site-nav__item {
		background: none;
		display: inline-block;
		margin-bottom: 0;
		padding-left: 0;
		vertical-align: middle;

		&.site-nav__selected {
			
			.site-nav__link {
				color: $grey-darker;
			}
		}
		
		&:hover {
						
			.site-nav__link {
				color: $grey-darker;
			}

			.megamenu {
				display: block;
			}
		}
	}
	
	.site-nav__link {
		background: none;
		color: $grey;
		box-sizing: border-box;
		cursor: pointer;
		display: block;
		height: 70px;
		font-weight: 700;
		padding: 30px 12px 0;
		text-shadow: none;
		text-transform: uppercase;
	}
}

.page-head {
	
	.megamenu {
		background: $white;
		box-shadow: 0 2px 2px rgba(0,0,0,.20);
		box-sizing: margin-box;
		@include clearfix;
		display: none;
		margin: -4px 0 0;
		padding: 0;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		max-width: 900px;
		
		&:before {
			border: 1px dashed rgba($black,.10);
			border-top: none;
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 3px;
			bottom: 3px;
			left: 3px;
			z-index: 0;
	    }
		
		li {
			background: none;
			padding-left: 0;
		}
	}
	
	.megamenu__block {
		background: none;
		box-sizing: border-box;
		float: left;
		margin: 0;
		padding: $vertical-spacing $gutter 0;
		position: relative;
		width: 33.33333%;
		z-index: 1;
	}
	
	.megamenu__title {
		color: $heading-font-color;
		display: block; // As element is a span
		@include font-size(13);
		font-family: $heading-font-family;
		font-weight: $heading-font-weight;
		letter-spacing: -0.05rem;
		margin-bottom: $vertical-spacing / 4;
		text-transform: uppercase;
	}
	
	.megamenu__list {
		margin: 0;
		padding: 0;
		text-align: left;
	}
	
	.megamenu__item {
		background: none;
		margin-bottom: 0;
		padding: 0;
	}
	
	.megamenu__link {
		background: none;
		border-top: $border-width $border-style $border-color;
		color: $grey;
		display: block;
		padding: $vertical-spacing / 4 0;
		text-shadow: none;
		
		&:visited {
			color: $grey;
		}
		
		&:hover,
		&:focus {
			color: $grey-darker;
		}
	}
}

.megamenu__promo {
	background: $black;
	display: block;
	margin-bottom: $vertical-spacing / 2;
	padding: 0;
	position: relative;
	text-align: center;
	text-shadow: none;
}

.megamenu__promo-image {
	display: block;
	opacity: .75;
	-webkit-transition: all .25s;
	transition: all .25s;
	
	.megamenu__promo:hover & {
		opacity: .50;
	}
}

.megamenu__promo-caption {
	color :$white;
	display: block;
	@include font-size(14);
	line-height: 1;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	right: $gutter / 2;
	left: $gutter / 2;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: auto;
}

.megamenu__btn {
	width: 100%;
}





/* ==========================================================================
   #MAIN NAVIGATION TOGGLE
   ========================================================================== */

/**
 * Toggle that shows/hides the navigation list.
 *
 * 1. Toggle container has a larger hit area than the icon suggests.
 * 2. Adjust position of toggle on wider viewports.
 * 3. Remove `:focus` styling.
 * 4. Styling of the middle line of menu icon.
 * 5. Styling for top and bottom lines.
 * 6. Bottom line specific styling.
 * 7. Overwrite underline link styling.
 * 8. Helps align with gutter edge.
 */

.mmenu-toggle { /* [1] */
	background-image: none; /* [7] */
	border-bottom: none;
	cursor: pointer;
	display: block;
	height: 30px;
	float: left;
	margin-top: -6px;
	padding: 0; /* [7] */
	position: relative;
	left: -4px; /* [8] */
	text-indent: -9999px;
	text-shadow: none; /* [7] */
	-webkit-transition: all .25s ease-in;
	transition: all .25s ease-in;
	width: 30px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	@include bp(bp6) {
		display: none;
	}
	
	&:focus {
		outline: none; /* [3] */
	}
	
	span { /* [4] */
		background: $grey-darker;
		display: block;
		height: 3px;
		position: absolute;
		top: 18px;
		right: 3px;
		left: 3px;
		-webkit-transition: background .20s .05s;
		transition: background .20s .05s; // Not sure why but .05s delay looks better.
		
		&:before,
		&:after { /* [5] */
			background: $grey-darker;
			content: "";
			display: block;
			height: 3px;
			position: absolute;
			top: -6px;
			left: 0;
			-webkit-transition-duration: .20s, .20s, .20s;
			transition-duration: .20s, .20s, .20s;
			-webkit-transition-delay: .80s, .20s, 0s;
			transition-delay: .80s, .20s, 0s;
			-webkit-transition-property: background, top, -webkit-transform;
			transition-property: background, top, transform;
			width: 100%;	
		}
		
		&:after { /* [6] */
			top: auto;
			bottom: -6px;
			-webkit-transition-property: background, bottom, -webkit-transform;
			transition-property: background, bottom, transform;
		}
	}
	
	/**
	 * Styling of the toggle once navigation is visible.
	 *
	 * 1. Instantly hide middle line.
	 * 2. Change colour and transitition delay. First value is `background-color`,
	 *    the next is position (0s for sharper transition) and the last is for the
	 *    actual `transform`.
	 * 3. Adjust position of top/bottom lines to form an 'x' shape.
	 */
	
	&.is-active {
		
		span {
			background: none; /* [1] */
			-webkit-transition: background .10s .10s;
            transition: background .10s .10s;
			
			&:before,
			&:after { /* [2] */
				-webkit-transition-delay: .10s, 0s, .20s;
				transition-delay: .10s, 0s, .20s;
			}
			
			&:before { /* [3] */
				top: 0;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			
			&:after { /* [3] */
				bottom: 0;
				-webkit-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
		}
	}
}