
/* ==========================================================================
   #MIXINS
   ========================================================================== */

/**
 * Clearfix
 */

@mixin clearfix() {
	
	&:before,
	&:after {
		content: "";
		display: table;
	}
	
	&:after {
		clear: both;
	}
}


/**
 * Typography
 */

@mixin font-size($font-size: 16){
font-size : #{$font-size}px;
font-size : #{$font-size / 10}rem; }


/**
 * Media Queries.
 * 
 * 1. $bp2  =  480px 	(30rem)
 * 2. $bp3  =  600px 	(37.5rem)
 * 3. $bp4  =  768px 	(48rem)
 * 4. $bp5  =  1024px 	(64rem)
 * 5. $bp6  =  1220px 	(76.250rem)
 * 6. $bp7  =  1400px 	(87.5rem)
 */

@mixin bp($point) {

	@if ($MQs) {
		
		$bp2 : "(min-width : 30em)"; 		/* [1] */
		$bp3 : "(min-width : 37.5em)"; 		/* [2] */
		$bp4 : "(min-width : 48em)"; 		/* [3] */
		$bp5 : "(min-width : 64em)"; 		/* [4] */
		$bp6 : "(min-width : 76.250em)"; 	/* [5] */
		$bp7 : "(min-width : 87.5em)"; 		/* [6] */

		@if $point == bp2 {
			@media #{$bp2} { @content; }
		}
		
		@else if $point == bp3 {
			@media #{$bp3} { @content; }
		}
		
		@else if $point == bp3 {
			@media #{$bp3} { @content; }
		}
		
		@else if $point == bp4 {
			@media #{$bp4} { @content; }
		}
		
		@else if $point == bp5 {
			@media #{$bp5} { @content; }
		}
		
		@else if $point == bp6 {
			@media #{$bp6} { @content; }
		}
		
		@else if $point == bp7 {
			@media #{$bp7} { @content; }
		}
	}
}