/* ==========================================================================
   #CONTAINER
   ========================================================================== */

/**
 * Styling for demo page / container.
 */

.container {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 24px;
	width: 100%;
	max-width: 720px;
}

/**
 * Helper class for right alignment (demo purposes). `flex` or `text-align`
 * would be preferable - I guess!
 */

.align-right {
	float: right;
}





/* ==========================================================================
#GRID
========================================================================== */


.pdp {
   padding: $vertical-spacing $vertical-spacing 0;
   
   @include bp(bp5) {
      display: grid;
      grid-column-gap: $vertical-spacing;
      grid-template-columns: repeat(12, 1fr);
   }
}

.pdp__image {
   grid-column: 1 / span 9;
   grid-row: 1;
}

.pdp__carousel {
   overflow: hidden;
   overflow-x: auto;
   position: sticky;
   top: $vertical-spacing;
   white-space: nowrap;
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
   
   &::-webkit-scrollbar {
      display: none;
   }

   img {
      max-width: 100%;
      
      @include bp(bp5) {
         height: calc(100vh - #{$vertical-spacing*2});
         width: auto;
      }
   }
}

.pdp__desc {
   grid-column: 10 / span 3;
   grid-row: 1;
   
   .btn {
      margin-bottom: 0;
      position: sticky;
      display: block; // Breaks in Safari if removed
      bottom: 24px;
      
      &:before,
      &:after {
         background: $body-background;
         content: "";
         display: block;
         position: absolute;
         top: -8px;
         left: -2px;
         height: 8px;
         width: calc(100% + 4px);
         z-index: -1;
      }
      
      &:after {
         top: calc(100% + 2px);
         height: 24px;
      }
   }
}