
/*------------------------------------*\
    IMAGES
   ========================================================================== */

/**
 * Base `img` styles.
 */

img {
	
	border-width : 0;
	vertical-align : middle;
	max-width : 100%;
	-ms-interpolation-mode : bicubic;
}

img[width],
img[height] {
	max-width: none;
}


/**
 * Add border to image.
 */
 
.img-stroke {
	border: ($border-width * 2) $border-style $border-color;
	box-sizing: border-box;
}


/**
 * Alignment options.
 */

.img-left {
	float : left;
	margin-right: ($gutter);
	margin-bottom: ($vertical-spacing);
	width : auto;
}

.img-right {
	float: right;
	margin-bottom: ($vertical-spacing);
	margin-left: ($gutter);
	width: auto;
}

.img-center {
	display: block;
	width: auto;
	margin-right: auto;
	margin-bottom: ($vertical-spacing);
	margin-left: auto;
}

.img-left,
.img-right,
.img-center {
	
	img {
		width: auto;
	}
}


/**
 * `figure` and `figcatpion` styles.
 */

figure {
	display: block;
	margin: 0 0 ($vertical-spacing) 0;

	img {
		margin-bottom: ($vertical-spacing);
	}
}

figcaption {
	color: lighten($grey-light,10%);
	font-family: $figcaption-font-family;
	font-size: $figcaption-font-size;
	font-style: $figcaption-font-style;
	font-weight: $figcaption-font-weight;
	margin-bottom: $vertical-spacing;
	text-transform: $figcaption-text-transform;
	
	img + & {
		margin-top: -$vertical-spacing / 2;
	}
	
	.img-stroke + & {
		padding: 0 8px;
	}
}


	
.bulge {
	transition: all .10s;
	
	@include bp(bp7) {
		margin: ($vertical-spacing * 2) -20% ($vertical-spacing * 2);
		text-align: center;
		
		img {
			width: 100%;
		}
	}
}