
/* ==========================================================================
   #PARAGRAPHS
   ========================================================================== */

/**
 * Base paragraph styles.
 */

p { 
	@include font-size(15);
	line-height: $font-lineheight;
	margin-bottom: ($vertical-spacing);
	
	@include bp(bp3) {
		@include font-size(16);
	}
	
	@include bp(bp6) {
		@include font-size($font-size);
	}
}

/**
 * Classified paragraphs for lead, secondary, tertiary and milli statements.
 */

.lead {
	color: $grey-light;
	@include font-size(17);
	line-height: 1.4;
	
	@include bp(bp3) {
		@include font-size(19);
		
	}

	@include bp(bp6) {
		@include font-size(21);
		
	}
}