
/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Base styling for heading elements.
 */
 
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $heading-font-color;
	font-family: $heading-font-family;
	font-weight: normal;
	line-height: .90;
	margin: 0 0 $vertical-spacing;
	text-transform: uppercase;
}

h1 { 
	@include font-size(80);

	@include bp(bp3) {
		@include font-size(90);
	}
}

h2 { 
	@include font-size(70);

	@include bp(bp3) {
		@include font-size(80);
	}
}

h3 { 
	@include font-size(60);

	@include bp(bp3) {
		@include font-size(70);
	}
}

h4 { 
	@include font-size(30);
	
	@include bp(bp3) {
		@include font-size(50);
	}
}
