
/* ==========================================================================
   #IMPORT
   ========================================================================== */

/**
 * Good Pro (condensed black).
 */

@font-face {
	font-family: 'goodpro';
	src: url('../font/GoodPro-CondBlack.woff2') format('woff2'),
		 url('../font/GoodPro-CondBlack.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}


/**
 * Droid Sans.
 */

@font-face {
	font-family: 'droidsans';
	src: url('../font/DroidSans.woff2') format('woff2'),
		 url('../font/DroidSans.woff') format('woff');	
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'droidsans-bold';
	src: url('../font/DroidSans-Bold.woff2') format('woff2'),
		 url('../font/DroidSans-Bold.woff') format('woff');	
	font-style: normal;
	font-weight: normal;
}