
/* ==========================================================================
   #PARAGRAPHS
   ========================================================================== */

/**
 * Base paragraph styles.
 */

p { 
	@include font-size($font-size);
	line-height: 1.5;
	margin-bottom: ($vertical-spacing);
}

/**
 * Classified paragraphs for lead, secondary, tertiary and milli statements.
 */

.lead {
	color: $grey-light;
	@include font-size(20);
	font-style: italic;

	@include bp(bp4) {
		@include font-size(25);
		line-height: 1.4;
	}
}