
// SYSTEM  ================================================

$debug-mode						: false;
$debug-color-error				: red;
$debug-color-warning			: yellow;
$debug-outline-width			: 5px;
$debug-outline-style			: solid;





// COLOUR  ================================================

// Greyscale

$black 							: rgb(0,0,0);
$white 							: rgb(255,255,255);

$grey-darker					: rgb(14,16,16);
$grey-dark						: rgb(66,75,75);
$grey							: rgb(119,133,134);
$grey-light						: rgb(179,188,188);
$grey-lighter					: rgb(239,241,241);

// Brand

$color-primary 					: rgb(45,190,193); 

// Useful colours

$color-success					: rgb(62,178,128);
$color-error					: rgb(190,40,46);





// BASICS  ================================================

$body-background 				: $white;
$vertical-spacing				: 30px;
$gutter		 					: 30px;
$max-width						: 90.000rem;
$MQs							: true;





// TYPOGRAPHY  ================================================

// Base

$font-size 						: 14;
$font-family 					: "Open Sans", "Helvetica Neue", sans-serif;
$font-color 					: $grey;
$font-lineheight 				: 1.6;
$font-weight 					: 400;

// Alt

$alt-font-family 				: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
$alt-font-color 				: inherit;
$alt-font-lineheight 			: $font-lineheight;
$alt-font-weight 				: 400;

// Extra type variables

$amp-font-family 				: local('Georgia'), local('Garamond'), local('Palatino'), local('Book Antiqua');
$code-font-family				: Monaco, Courier New, monospace;
$code-font-color				: $color-primary;

// Headings

$heading-font-color 			: $grey-darker;
$heading-font-family 			: "Open Sans", "Helvetica Neue", sans-serif;
$heading-font-style 			: normal;
$heading-font-weight 			: 900;
$heading-lineheight				: 1.2;





// Links  ================================================

$link-color 		    		: $grey-darker;
$link-color-hover 				: $color-primary;
$link-color-visited   			: $link-color;
$link-color-focus 				: $link-color-hover;

$base-bg						: $white;





// TEXTURE  ================================================

$border-color    				: $grey-lighter;
$border-style					: solid;
$border-width 					: 2px;
$border-radius 					: 2px;
$border							: $border-width $border-style $border-color;





// ALERTS  ====================================================

$alert-bg						: lighten($grey-darker,10%);
$alert-border-color				: darken($alert-bg,5%);
$alert-font-color				: $grey-lighter;
$alert-font-size				: 13;
$alert-heading-font-color		: $white;
$alert-heading-font-size		: 16;

$alert-success-bg				: $color-success;
$alert-success-border-color		: darken($alert-success-bg,5%);
$alert-success-font-color		: lighten($alert-success-bg, 50%);

$alert-error-bg					: $color-error;
$alert-error-border-color		: darken($alert-error-bg, 5%);
$alert-error-font-color			: lighten($alert-error-bg, 50%);





// 320 AND UP  ================================================



// Boxes

$box-padding					: 1rem 1.25rem;
$box-bg 						: $white;

$box-border-color				: $border-color;
$box-border-style 				: $border-style;
$box-border-width 				: $border-width;
$box-border-radius 				: $border-radius;

$box-font-family				: $font-family;
$box-font-size 					: $font-size;
$box-font-color 				: $font-color;

$box-large-padding				: 16px 22px;
$box-large-border-radius 		: $border-radius * 2;

$box-small-padding				: 2px 6px;
$box-small-border-radius 		: $border-radius;



// Buttons

$button-bg 								: $black;
$button-border-color					: darken($button-bg,10);
$button-border-style 					: $border-style;
$button-border-width 					: 2px;
$button-border-radius 					: 0;

$button-font-family						: $font-family;
$button-font-size 						: 14;
$button-font-color 						: $white;
$button-font-weight 					: 700;
$button-letter-spacing					: 0;
$button-font-transform 					: uppercase;

$button-bg-hover 						: darken($button-bg,5);
$button-border-color-hover				: darken($button-border-color,5);
$button-font-color-hover 				: $button-font-color;

$button-large-font-size					: $font-size;
$button-small-font-size					: $font-size;
$button-mini-font-size					: $font-size;

// Primary buttons

$button-primary-bg						: $color-primary;
$button-primary-border-color			: darken($button-primary-bg,10);
$button-primary-font-color 				: $white;

$button-primary-bg-hover				: darken($button-primary-bg,5);
$button-primary-border-color-hover		: darken($button-primary-border-color,5);
$button-primary-font-color-hover 		: $button-primary-font-color;

// Neutral buttons

$button-neutral-bg						: $grey-lighter;
$button-neutral-border-color			: darken($button-neutral-bg,10);
$button-neutral-font-color 				: $grey;

$button-neutral-bg-hover				: darken($button-neutral-bg,5);
$button-neutral-border-color-hover		: darken($button-neutral-border-color,5);
$button-neutral-font-color-hover 		: $button-neutral-font-color;



// Forms

$form-font-family				: $font-family;
$form-font-color 				: $font-color;



// Form-inputs

$input-padding					: 8px 10px;
$input-bg 						: $white;

$input-border-color				: darken($border-color,10%);
$input-border-color-hover		: $grey-dark;
$input-border-color-focus		: $color-primary;
$input-border-style 			: $border-style;
$input-border-width 			: 2px;
$input-border-radius 			: 0;

$input-font-family				: $font-family;
$input-font-size 				: $font-size;
$input-font-color 				: $font-color;
$input-placeholder-color 		: $font-color;
$input-placeholder-font-size 	: 13;

$textarea-min-height			: 160px;



// Form-labels

$label-font-color 				: $grey-darker;
$label-font-family				: $font-family;
$label-font-size 				: $font-size;



// Images

$figcaption-font-family			: $font-family;
$figcaption-font-size			: 1.2rem;
$figcaption-font-style			: normal;
$figcaption-font-weight			: normal;
$figcaption-text-transform		: none;



// Misc.

$transition-duration			: .25s;
$transition-timing-function		: ease;



// Pagination

$pagination-background			: $base-bg;
$pagination-background-hover	: $body-background;
$pagination-background-active	: $body-background;
$pagination-border				: 2px $border-style $border-color;
$pagination-color				: $font-color;
$pagination-link-color			: $pagination-color;
$pagination-padding				: .6rem 1.2rem;
$pagination-font-size			: 1.4rem;
$pagination-letter-spacing		: 2px;
$pagination-text-transform		: uppercase;


// Tables

$table-padding 					: 15px;
$table-font-family				: $font-family;
$table-font-size 				: $font-size;
$table-condensed-font-size 		: $font-size;
$table-font-color 				: $font-color;
$table-header-font-weight 		: 700;
$table-bg						: transparent;

$table-stripe-bg 				: $base-bg;
$table-stripe-font-color 		: $font-color;

$table-hover-bg 				: $white;
$table-hover-font-color 		: $font-color;

$table-border-color				: $border-color;
$table-border-style 			: $border-style;
$table-border-width 			: 2px;
