
/*------------------------------------*\
    #BOX
\*------------------------------------*/

.box {
	background: $white;
	border: $border;
	box-sizing: border-box;
	padding: $vertical-spacing $gutter 0;
}

.box--clear {
	background: none;
	border: none;
}





/*------------------------------------*\
    #OVERLAYS
\*------------------------------------*/

.overlay-link {
	cursor: pointer;
}

.overlay {
	background: rgba(0, 0, 0, 0.75);
	box-sizing: border-box;
	display: none;
	height: 100%;
	padding: $vertical-spacing / 2 $gutter / 2;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999999;
}

.overlay__box {
	background: $white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
	box-sizing: border-box;
    max-height: 90%;
	overflow: hidden;
    overflow-y: auto;
	padding: $vertical-spacing $gutter 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 90%;
	max-width: 1000px;
}

.overlay__close {
	background-image: none;
	cursor: pointer;
	float: right;
	line-height: 0;
	margin: -15px -15px 0 15px;
	padding: 0;
	position: relative;
	text-shadow: none;
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	-webkit-backface-visibility: hidden;
	
	&:hover,
	&:focus {
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}



.overlay--delivery {
	
	.diagram img {
		max-width: 300px;
		
			
		@include bp(bp5) {
			max-width: none;
		}
	}
}