
.search {
	margin-bottom: 0;
	position: relative;
}

.search__input {
	background: none;
	border: none;
	border-bottom: 1px solid transparent;
	color: $grey-darker;
	@include font-size(10);
	height: 25px;
	line-height: 25px;
	margin-bottom: 0;
	padding: 0 30px 0 5px;
	text-transform: uppercase;
	width: 80px;
	
	.search:hover &,
	&:focus {
		border-color: $grey-lighter;
		width: 150px;
	}
	
	&:focus {
		border-color: darken($grey-lighter,10%) !important;
	}
	
	&::-webkit-input-placeholder {
		@include font-size(10);
	}

	&:-moz-placeholder {
		@include font-size(10);
	}
}

.search__btn {
	background: none;
	border: none;
	cursor: pointer;
	height: 25px;
	margin: 0;
	outline: 0;
	padding: 0;
	position: absolute;
	top: 0;
	right: 2px;
	width: 25px;
	
	&:hover {
		
		svg {
			fill: $color-primary;
		}
	}
}



/*

.mm-search {
	margin: 0;
	padding: 0;
	position: relative;
}

.mm-search__input {
	border: none;
	border-radius: 0;
	box-shadow: none !important;
	box-sizing: border-box;
    color: $grey;
    display: block;
    font-family: $font-family;
	@include font-size(12);
	font-weight: 400;
	height: 45px;
	min-height: 45px;
    max-height: 45px;
	line-height: 26px;
	margin: 0;
    outline: 0 !important;
    padding: 0 10px 0 30px;
    width: 100%;
    max-width: 100%;
}

.mm-search__btn {
	background: url(../assets/icon-magnifying-glass.svg) no-repeat center center;
	background-size: 20px;
	border: none;
	cursor: pointer;
	display: block;
	height: 45px;
	opacity: .25;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	text-indent: -9999px;
	-webkit-transition: opacity .25s;
	transition: opacity .25s;
	width: 45px;
	
	&:hover {
		opacity: 1;
	}
}
*/