
.search {
	
	margin-bottom: 0;
	position: relative;
}

.search__input {
	background: none;
	border: none;
	border-bottom: 1px solid transparent;
	color: $grey-darker;
	@include font-size(10);
	height: 25px;
	line-height: 25px;
	margin-bottom: 0;
	padding: 0 30px 0 5px;
	text-transform: uppercase;
	width: 80px;
	
	.search:hover &,
	&:focus {
		border-color: $grey-lighter;
		width: 150px;
	}
	
	&:focus {
		border-color: darken($grey-lighter,10%) !important;
	}
	
	&::-webkit-input-placeholder {
		@include font-size(10);
	}

	&:-moz-placeholder {
		@include font-size(10);
	}
}

.search__btn {
	background: none;
	border: none;
	cursor: pointer;
	height: 25px;
	margin: 0;
	outline: 0;
	padding: 0;
	position: absolute;
	top: 0;
	right: 2px;
	width: 25px;
	
	&:hover {
		
		svg {
			fill: $color-primary;
		}
	}
	
	.search:hover &,
	.search__input:focus + & {
		
		svg {
			transform: scale(.90);
		}
	}
}