
/* ==========================================================================
   #TABLE
   ========================================================================== */

table {
	background-color: $table-bg;
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
	font-family: $table-font-family;
	margin-bottom: ($vertical-spacing * 1.5);
	text-align: left;
	width: 100%;
	max-width: 100%;
}

th,
td {
	border-bottom: $table-border-width $table-border-style $table-border-color;
	@include font-size($table-font-size);
	line-height: $font-lineheight;
	padding: $table-padding;
	vertical-align: top;
	
	> *:last-child {
		margin-bottom: 0;
	}

}

th {
	border: none;
	color: $grey-darker;
	font-family: $table-font-family;
	@include font-size($table-font-size);
	font-weight: $table-header-font-weight;
}

.table-condensed {

	th,
	td {
		padding: $table-padding / 2;
		@include font-size($table-condensed-font-size);
	}
}

.table-stripe {
	
	th,
	td {
		border: none;
	}

	tbody tr:nth-child(odd) th,
	tbody tr:nth-child(odd) td {
		background-color: $table-stripe-bg;
		color: $table-stripe-font-color;
	}
}

.table-solid {
	border-collapse: separate;
    border-spacing: 0 2px;
    margin: -2px -2px $vertical-spacing;
	
	thead th,
	thead td {
		background-color: none;
	}

	tbody th,
	tbody td {
		background-color: $grey-lighter;
	}
}