
/* ==========================================================================
   #TABLE
   ========================================================================== */
   
/**
 * Wrapping a table with a div with a class of `.table-overflow` allows the
 * table to scroll when the content is too large and the viewport is narrow.
 */

.table-overflow {
	overflow-x: auto;
}


/**
 * Base `table` styles.
 */

table {
	background-color: $table-bg;
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
	font-family: $table-font-family;
	margin-bottom: ($vertical-spacing * 1.5);
	text-align: left;
	width: 100%;
	max-width: 100%;
}

th,
td {
	border-bottom: $table-border-width $table-border-style $table-border-color;
	@include font-size($table-font-size);
	line-height: $font-lineheight;
	padding: $table-padding;
	vertical-align: top;
	
	> *:last-child {
		margin-bottom: 0;
	}

}

th {
	color: $grey-darker;
	font-family: $table-font-family;
	@include font-size(15);
	font-weight: $table-header-font-weight;
}


/**
 * Condensed tables (reduced padding).
 */

.table-condensed {

	th,
	td {
		padding: $table-padding / 2;
		@include font-size($table-condensed-font-size);
	}
}


/**
 * Add a stripe to alternating table rows.
 *
 * 1. Adjust anchor `text-shadow` (normally white) incase a link is displayed
 *    within a coloured table row.
 */

.table-stripe {
	
	th,
	td {
		border: none;
	}

	tbody tr:nth-child(odd) th,
	tbody tr:nth-child(odd) td {
		background-color: $table-stripe-bg;
		color: $table-stripe-font-color;
		
		a {
			text-shadow: 3px 0 $table-stripe-bg, 2px 0 $table-stripe-bg, 1px 0 $table-stripe-bg, -3px 0 $table-stripe-bg, -2px 0 $table-stripe-bg, -1px 0 $table-stripe-bg; /* [1] */
		}
	}
}


/**
 * A table with solid coloured rows with a gap between each.
 *
 * 1. Adjust anchor `text-shadow` (normally white) incase a link is displayed
 *    within a coloured table row.
 */

.table-solid {
	border-collapse: separate;
    border-spacing: 0 2px;
    margin: -2px -2px $vertical-spacing;
    
    th,
    td {
	    border: none;
    }
	
	thead th,
	thead td {
		background-color: none;
	}

	tbody th,
	tbody td {
		background-color: $grey-lighter;
		
		a {
			text-shadow: 3px 0 $table-stripe-bg, 2px 0 $table-stripe-bg, 1px 0 $table-stripe-bg, -3px 0 $table-stripe-bg, -2px 0 $table-stripe-bg, -1px 0 $table-stripe-bg; /* [1] */
		}
	}
}
