
/* ==========================================================================
   #PARAGRAPHS
   ========================================================================== */

/**
 * Base paragraph styles.
 */

p { 
	margin-bottom: ($vertical-spacing);
}

/**
 * Classified paragraphs for lead, secondary, tertiary and milli statements.
 */

.lead {
	color: lighten($font-color,10%);
	@include font-size($font-size);
	line-height: 1.4;

	@include bp(bp5) {
		@include font-size(16);
		
	}
}