
/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Base styling for heading elements.
 */
 
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $heading-font-color;
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
	line-height: .90;
	margin: 0 0 $vertical-spacing / 2;
	transition: font-size .15s;
	text-transform: uppercase;
}

h1 { 
	@include font-size(40);

	@include bp(bp5) {
		@include font-size(50);
	}
}

h2 { 
	@include font-size(32);

	@include bp(bp5) {
		@include font-size(40);
	}
}

h3 { 
	@include font-size(24);
	
	@include bp(bp5) {
		@include font-size(30);
	}
}

h4 { 
	@include font-size(16);

	@include bp(bp5) {
		@include font-size(20);
	}
}


/**
 * The `.hgroup` class be used to group a title + lead paragraph styling, mainly
 * to open a `.band` section.
 *
 * 1. Paragraph used to have a class of `.hgroup__lead` but now we just target
 *    the `p` tag to make life easier when integrating to Wordpress.
 * 2. The `margin-bottom` on the `hgroup__title` is increased just incase a
 *    paragraph isn't added, it helps with spacing. So we need to use a negative
 *    margin to nudge the paragraph up to reduce the space when it's added.
 */
 
.hgroup {
	margin: 0 auto $vertical-spacing;
	max-width: 890px;
	
	@include bp(bp5) {
		margin-bottom: $vertical-spacing * 2;
	}
	
	p { /* [1] */
		color: $grey-light;
		@include font-size($font-size);
		line-height: 1.4;
		margin-top: -$vertical-spacing / 2; /* [2] */
	
		@include bp(bp5) {
			@include font-size(16);
			
		}
	}
}

/**
 * The `margin-bottom` is increased on the title just incase a paragraph isn't
 *  added to the `.hgroup` for consistent spacing.
 */

.hgroup__title {
	margin-bottom: $vertical-spacing;
}
